<app-home-header></app-home-header>
<div class="site-intro">
    <div class="wrapper">
        <div class="media">
            <img src="../../../assets/images/test1.gif" alt="">
        </div>
        <div class="site-caption">
            <p class="title digital">Welcome to the Null Ref Academy <br/> for every software developer.</p>
            <p class="description code">Learn and improve your abilities like analytical thinking, clean code, perfect habits and of course mathematics.</p>
            <p class="description last code">Click on what you define yourself as:</p>
            <div class="butons">
                <a class="font" href="/Home/Register">Software Developer</a>
                <a class="font" href="/Home/Register">Teacher</a>
                <a class="font" href="/Home/Register">Student</a>
                <a class="font" href="/Home/Register">Child</a>
            </div>
        </div>
    </div>
</div>
<div class="site-info">
    <div class="wrapper">
        <p class="title digital">Why Null Ref Academy works</p>
        <div class="bars">
            <div class="bar">
                <img src="https://cdn-icons-png.flaticon.com/128/9445/9445891.png" alt="">
                <p class="caption code">Personalized learning</p>
                <p class="description code">Students practice at their own pace, first filling in gaps in their understanding and then accelerating their learning.</p>
            </div>
            <div class="bar">
                <img src="https://cdn-icons-png.flaticon.com/128/2015/2015159.png" alt="">
                <p class="caption code">Trusted content</p>
                <p class="description code">Created by experts, Dev Academy's library of trusted practice and lessons covers math, science, and more. Always free for learners and teachers.</p>
            </div>
            <div class="bar">
                <img src="https://cdn-icons-png.flaticon.com/128/780/780552.png" alt="">
                <p class="caption code">Tools to improve</p>
                <p class="description code">Students practice at their own pace, first filling in gaps in their understanding and then accelerating their learning.</p>
            </div>
        </div>
    </div>
</div>
<div class="site-info-softowaredeveloper">
    <div class="wrapper">
        <div class="site-caption">
            <p class="upper code">Software Developers</p>
            <p class="title digital">Evolved as a software developer.</p>
            <p class="description code">If you want to be better than everyone else, have the richest set of skills and technologies, then you have to choose Null Ref Academy.</p>
            <div class="butons">
                <a class="font" href="/Home/Register">Software developers, start here</a>
            </div>
        </div>
        <div class="media">
            <img src="../../../assets/images/test2.gif" alt="">
        </div>
    </div>
</div>
<div class="site-info-teacher">
    <div class="wrapper">
        <div class="media">
            <img src="../../../assets/images/test3.gif" alt="">
        </div>
        <div class="site-caption">
            <p class="upper code">Teachers</p>
            <p class="title digital">Differentiate your classroom and engage every student.</p>
            <p class="description code">We empower teachers to support their entire classroom. 90% of teachers who have used Dev Academy have found us effective.</p>
            <div class="butons">
                <a class="font" href="/Home/Register">Teachers, start here</a>
            </div>
        </div>
    </div>
</div>
<div class="site-improves">
    <div class="wrapper">
        <div class="site-caption">
            <p class="title digital">Join us in something big</p>
            <p class="description code">Our platform is growing every day by improving and providing more and more quantity and quality in teaching of software developers.</p>
            <div class="butons">
                <a class="font" href="/Home/Register">Start now</a>
            </div>
        </div>
        <div class="stats">
            <div class="left">
                <p class="stat code"><img src="https://cdn-icons-png.flaticon.com/128/7097/7097228.png" alt="learner"><strong>1000+</strong> <br> Learners</p>
                <p class="stat code"><img src="https://cdn-icons-png.flaticon.com/128/10870/10870024.png" alt="course"><strong>500+</strong> <br> Courses</p>
                <p class="stat code"><img src="https://cdn-icons-png.flaticon.com/128/9281/9281334.png" alt="article"><strong>250+</strong> <br> Articles</p>
            </div>
            <div class="right">
                <p class="stat code"><img src="https://cdn-icons-png.flaticon.com/128/9746/9746676.png" alt="country"><strong>10+</strong> <br> Countries</p>
                <p class="stat code"><img src="https://cdn-icons-png.flaticon.com/128/1973/1973739.png" alt="language"><strong>15+</strong> <br> Languages</p>
                <p class="stat code"><img src="https://cdn-icons-png.flaticon.com/128/6476/6476032.png" alt="certificate"><strong>2500+</strong> <br> Certificates</p>
            </div>
        </div>
    </div>
</div>
<div class="site-info-student">
    <div class="wrapper">
        <div class="media">
            <img src="../../../assets/images/test4.gif" alt="">
        </div>
        <div class="site-caption">
            <p class="upper code">Students</p>
            <p class="title digital">You can learn anything.</p>
            <p class="description code">Build a deep, solid understanding in development, math, science, and more. Become best software developer and make things to work.</p>
            <div class="butons">
                <a class="font" href="/Home/Register">Students, start here</a>
            </div>
        </div>
    </div>
</div>
<div class="site-info-child">
    <div class="wrapper">
        <div class="site-caption">
            <p class="upper code">Kids</p>
            <p class="title digital">Every child deserves the chance to learn.</p>
            <p class="description code">Across the globe, 617 million children are missing basic math and reading skills. We’re a nonprofit delivering the education they need, and we need your help. You can change the course of a child’s life.</p>
            <div class="butons">
                <a class="font" href="/Home/Register">Kids, starts here</a>
            </div>
        </div>
        <div class="media">
            <img src="../../../assets/images/test5.gif" alt="">
        </div>
    </div>
</div>
<div class="site-info-articles">
    <div class="wrapper">
        <p>some info about the articles in the platform</p>
    </div>
</div>
<div class="site-info-news">
    <div class="wrapper">
        <p>some info about the news in the platform</p>
    </div>
</div>
<app-home-footer></app-home-footer>