<app-home-header></app-home-header>
<div class="site-intro">
    <div class="wrapper">
        <div class="media">
            <img src="../../../assets/images/intro2.png" alt="">
        </div>
        <div class="site-caption">
            <p class="title">Welcome to the Dev Academy <br/> for every student.</p>
            <p class="description">Learn the building blocks of programming like for loops, if/else statements, array manipulation, and more.</p>
            <div class="butons">
                <a href="/Home/Register">Student</a>
                <a href="/Home/Register">Teacher</a>
            </div>
        </div>
    </div>
</div>
<div class="site-info">
    <div class="wrapper">
        <p class="title">Why Dev Academy works</p>
        <div class="bars">
            <div class="bar">
                <i class="fa-solid fa-graduation-cap"></i>
                <p class="caption">Personalized learning</p>
                <p class="description">Students practice at their own pace, first filling in gaps in their understanding and then accelerating their learning.</p>
            </div>
            <div class="bar">
                <i class="fa-solid fa-book"></i>
                <p class="caption">Trusted content</p>
                <p class="description">Created by experts, Dev Academy's library of trusted practice and lessons covers math, science, and more. Always free for learners and teachers.</p>
            </div>
            <div class="bar">
                <i class="fa-solid fa-chalkboard-user"></i>
                <p class="caption">Tools to improve</p>
                <p class="description">Students practice at their own pace, first filling in gaps in their understanding and then accelerating their learning.</p>
            </div>
        </div>
    </div>
</div>
<div class="site-info-teacher">
    <div class="wrapper">
        <div class="site-caption">
            <p class="upper">Teachers</p>
            <p class="title">Differentiate your classroom and engage every student.</p>
            <p class="description">We empower teachers to support their entire classroom. 90% of teachers who have used Dev Academy have found us effective.</p>
            <div class="butons">
                <a href="/Home/Register">Teachers, start here</a>
            </div>
        </div>
        <div class="media">
            <img src="../../../assets/images/teachers.png" alt="">
        </div>
    </div>
</div>
<div class="site-info-student">
    <div class="wrapper">
        <div class="media">
            <img src="../../../assets/images/students.png" alt="">
        </div>
        <div class="site-caption">
            <p class="upper">Students</p>
            <p class="title">You can learn anything.</p>
            <p class="description">Build a deep, solid understanding in development, math, science, and more.</p>
            <div class="butons">
                <a href="/Home/Register">Students, start here</a>
            </div>
        </div>
    </div>
</div>
<div class="site-info-child">
    <div class="wrapper">
        <div class="site-caption">
            <p class="upper">Togheter we can make a difference</p>
            <p class="title">Every child deserves the chance to learn.</p>
            <p class="description">Across the globe, 617 million children are missing basic math and reading skills. We’re a nonprofit delivering the education they need, and we need your help. You can change the course of a child’s life.</p>
            <div class="butons">
                <a href="/Home/Register">Start here</a>
            </div>
        </div>
        <div class="media">
            <img src="../../../assets/images/child.png" alt="">
        </div>
    </div>
</div>
<app-home-footer></app-home-footer>