<app-student-header></app-student-header>
<div class="intro-course-enroll">
    <div class="wrapper">
        <ng-container *ngFor="let course of courses">
            <ng-container *ngIf="course.id == courseid">
                <ng-container *ngFor="let category of categories">
                    <ng-container *ngIf="course.categoryID == category.id">
                        <p class="upcap code"><a routerLink="/Student/{{routeid}}/Category/{{category.id}}">{{category.title}}</a></p>
                    </ng-container>
                </ng-container>
            </ng-container>
        </ng-container>
        <ng-container *ngFor="let course of courses">
            <ng-container *ngIf="course.id == courseid">
                <p class="cap digital"><a routerLink="/Student/{{routeid}}/Courses">Course: <strong>{{course.title}}</strong></a></p>
            </ng-container>
        </ng-container>
    </div>
</div>
<div class="info-course-enroll">
    <div class="wrapper">
        <div class="main">
            <ng-container *ngFor="let course of courses">
                <ng-container *ngIf="course.id == courseid">
                    <div class="up">
                        <p class="title digital">Title: {{course.title}}</p>
                        <p class="date code">Date: {{course.createdDate}}</p>
                        <p class="description code">Description: {{course.title}}</p>
                    </div>
                </ng-container>
            </ng-container>
            <ng-container *ngFor="let section of sections">
                <ng-container *ngIf="section.courseID == courseid">
                    <div class="box">
                        <div class="up">
                            <p id="{{section.title}}" class="section-title code">{{section.title}}</p>
                        </div>
                        <div class="down">
                            <p class="description code">{{section.description}}</p>
                        </div>
                        <div class="down-down">
                            <p class="text">{{section.text}}</p>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
            <ng-container *ngFor="let section of sections">
                <ng-container *ngIf="section.courseID == courseid">
                    <youtube-player [videoId]="section.videoUrl" suggestedQuality="highres" [width]="1200" [height]="450" [startSeconds]="4" [endSeconds]="300" style="width: 100%;"></youtube-player>
                </ng-container>
            </ng-container>
        </div>
        <div class="agenda">
            <p class="cap code">Sections:</p>
            <ng-container *ngFor="let section of sections">
                <ng-container *ngIf="section.courseID == courseid">
                    <p class="count code"><a href="/Student/{{routeid}}/Course/{{courseid}}/Enroll#{{section.title}}">{{counts[section.id]}}. {{section.title}}</a></p>
                </ng-container>
            </ng-container>
        </div>
        <div class="under">
            <p><a class="donebtn font" *ngIf="!finish" routerLink="/Student/{{routeid}}/Dashboard">Go to dashboard</a></p>
            <p><a class="finish font" *ngIf="finish" (click)="finishCourse()">Finish</a></p>
        </div>
    </div>
</div>
<app-student-footer></app-student-footer>