<app-teacher-header></app-teacher-header>
<div class="acount-dashboard-teacher">
    <div class="wrapper">
        <div class="left">
            <div class="left-links">
                <p>Wellcome, <a class="username" href="/Teacher/{{routeid}}/Dashboard">{{teacher.username}}</a></p>
                <p class="info">Teacher dashboard</p>
            </div>
        </div>
        <div class="right">
            <p class="score code">Categories: {{countCategories}}</p>
            <p class="score code">Courses: {{countCourses}}</p>
            <p class="score code">Sections: {{countSections}}</p>
            <p class="score code">Articles: {{countArticles}}</p>
        </div>
    </div>
</div>
<div class="teacher-form">
    <div class="wrapper">
        <form #form="ngForm" (ngSubmit)="onSubmit()">
            <div class="site-top">
                <p class="caption digital">Update Article</p>
            </div>
            <div class="box-form">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <div class="box">
                        <label class="code">Title</label>
                        <input type="text" value="{{takenArticle.title}}" placeholder="Title" name="title" [(ngModel)]="article.title"
                            [class.input-error]="hasErrorTitle && submited"
                            [class.input-valid]="!hasErrorTitle && submited"/>
                        <span class="text-error code" *ngIf="hasErrorTitleRequired">Title is required.</span>
                        <span class="text-error code" *ngIf="hasErrorTitleLength">Title must be longer than 2 characters.</span>
                    </div>
                    <div class="box">
                        <label class="code">Description</label>
                        <textarea type="text" rows="10" cols="55" value="{{takenArticle.description}}" placeholder="Description" name="description" [(ngModel)]="article.description"
                            [class.input-error]="hasErrorDescription && submited"
                            [class.input-valid]="!hasErrorDescription && submited"></textarea>
                        <span class="text-error code" *ngIf="hasErrorDescriptionRequired">Description is required.</span>
                        <span class="text-error code" *ngIf="hasErrorDescriptionLength">Description must be longer than 2 characters.</span>
                    </div>
                    <div class="box">
                        <label class="code">Text</label>
                        <textarea type="text" rows="15" cols="85" value="{{takenArticle.text}}" placeholder="Text" name="text" [(ngModel)]="article.text"
                            [class.input-error]="hasErrorText && submited"
                            [class.input-valid]="!hasErrorText && submited"></textarea>
                        <span class="text-error code" *ngIf="hasErrorTextRequired">Text is required.</span>
                        <span class="text-error code" *ngIf="hasErrorTextLength">Text must be longer than 2 characters.</span>
                    </div>
                    <div class="box">
                        <label class="code">Created Date</label>
                        <input type="text" value="{{takenArticle.createdDate}}" disabled />
                    </div>
                    <div class="box" *ngIf="hasAdmin">
                        <label class="code">Admin</label>
                        <textarea rows="2" cols="45" disabled>{{adminText}}</textarea>
                    </div>
                    <div class="box" *ngIf="hasTeacher">
                        <label class="code">Teacher</label>
                        <textarea rows="2" cols="45" disabled>{{teacherText}}</textarea>
                    </div>
                    <div class="box" *ngIf="!hasAdmin && !hasTeacher">
                        <label class="code">Created by</label>
                        <textarea rows="2" cols="45" disabled>The creator was deactivated or no information.</textarea>
                    </div>
                    <div class="box-buttons">
                        <button class="update font">Update</button>
                        <a class="font" routerLink="/Teacher/{{routeid}}/Dashboard">Back</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<app-teacher-footer></app-teacher-footer>