.site-footer {
    padding-top: 2rem;
    padding-bottom: 1rem;
    background-color: #222534;
}

.site-footer a{
    color: #FFE08C;
    text-decoration: none;
}

.site-footer a:hover{
    scale: 1.05;
    font-weight: bold;
}

.site-footer .upper-div {
    border-bottom: 1px solid white;
    padding-bottom: 1.3rem;
    text-align: center;
}

.site-footer .upper-div .left{
    flex-basis: 55%;
    margin-right: 0;
    margin-bottom: 1rem;
}

.site-footer .upper-div .left .caption.first {
    margin-top: 0.5rem;
}

.site-footer .upper-div .left .caption {
    color: rgb(163, 163, 163);
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.site-footer .upper-div .right{
    flex-basis: 45%;
    display: block;
}

.site-footer .upper-div .right .info{
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

.site-footer .upper-div .right .socials{
    display: flex;
    justify-content: center;
    margin-top: 0.7rem;
}

.site-footer .upper-div .right .socials .item{
    margin-right: 1rem;
}

.site-footer .upper-div .right .socials .item:hover{
    scale: 1.5;
    font-weight: bold;
}

.site-footer .upper-div p{
    font-size: 1.1rem;
    color: rgb(163, 163, 163);
    margin-right: 0.8rem;
}

.site-footer .upper-div ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.site-footer .upper-div ul li{
    list-style: none;
    font-size: 0.8rem;
    margin-right: 0.5rem;
}

.site-footer .lowwer-div {
    padding-top: 1rem;
    font-size: 0.9rem;
    display: block;
    text-align: center;
}

.site-footer .lowwer-div p{
    color: rgb(163, 163, 163);
    margin-right: 1rem;
}

.site-footer .lowwer-div p{
    color: rgb(163, 163, 163);
    margin-right: 1rem;
}

.site-footer .lowwer-div a{
    margin-right: 0.5rem;
}

@media screen and (min-width: 950px) {
    .site-footer .upper-div {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: start;
    }

    .site-footer .upper-div .left{
        margin-right: 2rem;
        margin-bottom: 0;
    }

    .site-footer .upper-div .right{
        flex-basis: 30%;
        display: block
    }

    .site-footer .upper-div .right .socials{
        justify-content: flex-start;
    }

    .site-footer .upper-div p{
        margin-right: 0;
    }

    .site-footer .upper-div ul {
        display: block;
    }

    .site-footer .lowwer-div {
        display: flex;
        justify-content: center;
        padding-top: 0.5rem;
    }
}