<div class="site-dashboard">
    <app-admin-navigation></app-admin-navigation>
    <div class="site-form">
        <form #form="ngForm" (ngSubmit)="onSubmit()">
            <input asp-for="Id" hidden />
            <div class="site-top">
                <p class="caption digital">Delete Student</p>
            </div>
            <div class="box-form">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <div class="box">
                        <label class="code">First Name<img src="https://cdn-icons-png.flaticon.com/128/8704/8704368.png" alt="required"></label>
                        <input type="text" value="{{student.firstName}}" disabled/>
                    </div>
                    <div class="box">
                        <label class="code">Last Name<img src="https://cdn-icons-png.flaticon.com/128/8704/8704368.png" alt="required"></label>
                        <input type="text" value="{{student.lastName}}" disabled/>
                    </div>
                    <div class="box">
                        <label class="code">Username<img src="https://cdn-icons-png.flaticon.com/128/8704/8704368.png" alt="required"></label>
                        <input type="text" value="{{student.username}}" disabled/>
                    </div>
                    <div class="box">
                        <label class="code">Email<img src="https://cdn-icons-png.flaticon.com/128/8704/8704368.png" alt="required"></label>
                        <input type="text" value="{{student.email}}" disabled/>
                    </div>
                    <div class="box">
                        <label class="code">Account Type<img src="https://cdn-icons-png.flaticon.com/128/8704/8704368.png" alt="required"></label>
                        <input type="text" value="{{student.accountType}}" disabled/>
                    </div>
                    <div class="box">
                        <label class="code">Points</label>
                        <input type="text" value="{{student.points}}" disabled/>
                    </div>
                    <div class="box">
                        <label class="code">Progress</label>
                        <input type="text" value="{{student.progress}}" disabled/>
                    </div>
                    <div class="box">
                        <label class="code">Time Spent</label>
                        <input type="text" value="{{student.timeSpent}}" disabled/>
                    </div>
                    <div class="box">
                        <label class="code">Bio</label>
                        <textarea rows="8" cols="45" value="{{student.bio}}" disabled></textarea>
                    </div>
                    <div class="box">
                        <label class="code">Password<img src="https://cdn-icons-png.flaticon.com/128/8704/8704368.png" alt="required"></label>
                        <input type="text" value="{{student.password}}" disabled/>
                    </div>
                    <div class="box">
                        <label class="code">Confirm Password<img src="https://cdn-icons-png.flaticon.com/128/8704/8704368.png" alt="required"></label>
                        <input type="text" value="{{student.confirmPassword}}" disabled/>
                    </div>
                    <div class="box">
                        <label class="code">Created Date</label>
                        <input type="text" value="{{student.createdDate}}" disabled/>
                    </div>
                    <div class="box">
                        <label class="code">Courses</label>
                        <textarea rows="10" cols="45" disabled>{{ coursesText }}</textarea>
                    </div>
                    <div class="box">
                        <label class="code">Articles</label>
                        <textarea rows="10" cols="45" disabled>{{ articlesText }}</textarea>
                    </div>
                    <div class="box">
                        <label class="code">News</label>
                        <textarea rows="10" cols="45" disabled>{{ newsText }}</textarea>
                    </div>
                    <div class="box-buttons">
                        <button class="delete font">Delete</button>
                        <a class="font" routerLink="/Admin/{{routeid}}/Students">Back</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>