<div class="site-dashboard">
    <app-admin-navigation></app-admin-navigation>
    <div class="site-form">
        <form #form="ngForm" (ngSubmit)="onSubmit()">
            <div class="site-top">
                <p class="caption digital">Add Student</p>
            </div>
            <div class="box-form">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <div class="box">
                        <label class="code">First Name</label>
                        <input type="text" aria-required="true" name="firstName" [(ngModel)]="student.firstName"/>
                        <span class="validation code">First Name must be longer than 2 letters.</span>
                    </div>
                    <div class="box">
                        <label class="code">Last Name</label>
                        <input type="text" aria-required="true" name="lastName" [(ngModel)]="student.lastName"/>
                        <span class="validation code">First Name must be longer than 2 letters.</span>
                    </div>
                    <div class="box">
                        <label class="code">Username</label>
                        <input type="text" aria-required="true" name="username" [(ngModel)]="student.username" />
                        <span class="validation code">Username must be longer than 5 letters.</span>
                    </div>
                    <div class="box">
                        <label class="code">Email</label>
                        <input type="text" aria-required="true" name="email" [(ngModel)]="student.email"/>
                    </div>
                    <div class="box">
                        <label class="code">Account Type</label>
                        <input type="text" value="Student" [(ngModel)]="student.accountType" disabled/>
                    </div>
                    <div class="box">
                        <label class="code">Points</label>
                        <input type="text" value=0 [(ngModel)]="student.points" disabled/>
                    </div>
                    <div class="box">
                        <label class="code">Progress</label>
                        <input type="text" value=0 [(ngModel)]="student.progress" disabled/>
                    </div>
                    <div class="box">
                        <label class="code">Time Spent</label>
                        <input type="text" value="0" [(ngModel)]="student.timeSpent" disabled/>
                    </div>
                    <div class="box">
                        <label class="code">Bio</label>
                        <textarea type="text" rows="8" cols="45" aria-required="true" name="bio" [(ngModel)]="student.bio"></textarea>
                        <span class="validation code">Bio must be longer than 5 symbols.</span>
                    </div>
                    <div class="box">
                        <label class="code">Password</label>
                        <input type="text" aria-required="true" name="password" [(ngModel)]="student.password" />
                        <span asp-validation-for="Password"></span>
                        <span class="validation code">Password must start with uppercase letter.</span>
                        <span class="validation code">Password must have digits.</span>
                        <span class="validation code">Password must be longer than 5 symbols.</span>
                    </div>
                    <div class="box">
                        <label class="code">Confirm Password</label>
                        <input type="text" aria-required="true" name="confirmPassword" [(ngModel)]="student.confirmPassword"/>
                        <span class="validation code">Confirm Password must match password.</span>
                    </div>
                    <div class="box-buttons">
                        <button class="add font">Add</button>
                        <a class="font" routerLink="/Admin/{{routeid}}/Students">Back</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>