<app-student-header></app-student-header>
<div class="acount-dashboard">
    <div class="wrapper">
        <div class="left">
            <a href="/Student/{{routeid}}/Dashboard"><img src="https://cdn-icons-png.flaticon.com/128/922/922941.png"></a>
            <div class="left-links">
                <p class="digital">Wellcome, <a class="username" href="/Student/{{routeid}}/Dashboard">{{student.username}}</a></p>
                <a class="bio">
                    <ng-container *ngIf="student.bio == null || student.bio == ''">

                    </ng-container>
                    <ng-container *ngIf="student.bio != null">
                        <a class="bio-written code">{{student.bio}}</a>
                    </ng-container>
                </a>
            </div>
        </div>
        <div class="right">
            <p class="score code"><img src="https://cdn-icons-png.flaticon.com/128/4291/4291373.png" alt="points">Points: {{student.points}}</p>
        </div>
    </div>
</div>
<div class="teacher-form">
        <form #form="ngForm" (ngSubmit)="onSubmit()">
            <div class="site-top">
                <p class="caption digital">Settings</p>
            </div>
            <div class="box-form">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <div class="box">
                        <label class="code">First Name</label>
                        <input type="text" value="{{student.firstName}}" name="firstName" [(ngModel)]="editStudent.firstName"/>
                        <span class="validation code">First Name must be longer than 2 letters.</span>
                    </div>
                    <div class="box">
                        <label class="code">Last Name</label>
                        <input type="text" value="{{student.lastName}}" name="lastName" [(ngModel)]="editStudent.lastName"/>
                        <span class="validation code">Last Name must be longer than 2 letters.</span>
                    </div>
                    <div class="box">
                        <label class="code">Username</label>
                        <input type="text" value="{{student.username}}" name="username" [(ngModel)]="editStudent.username" />
                        <span class="validation code">Username must be longer than 5 letters.</span>
                    </div>
                    <div class="box">
                        <label class="code">Email</label>
                        <input type="text" value="{{student.email}}" name="email" [(ngModel)]="editStudent.email"/>
                    </div>
                    <div class="box">
                        <label class="code">Bio</label>
                        <textarea type="text" rows="8" cols="45" value="{{student.bio}}" name="bio" [(ngModel)]="editStudent.bio"></textarea>
                        <span class="validation code">Bio must be longer than 5 symbols.</span>
                    </div>
                    <div class="box">
                        <label class="code">Password</label>
                        <input type="text" value="{{student.password}}" name="password" [(ngModel)]="editStudent.password" />
                        <span class="validation code">Password must start with uppercase letter.</span>
                        <span class="validation code">Password must have digits.</span>
                        <span class="validation code">Password must be longer than 5 symbols.</span>
                    </div>
                    <div class="box">
                        <label class="code">Confirm Password</label>
                        <input type="text" value="{{student.confirmPassword}}" name="confirmPassword" [(ngModel)]="editStudent.confirmPassword"/>
                        <span class="validation code">Confirm Password must match password.</span>
                    </div>
                    <div class="box">
                        <label class="code">Courses</label>
                        <textarea type="text" rows="10" cols="45" disabled>{{ coursesText }}</textarea>
                    </div>
                    <div class="box-buttons">
                        <button class="update font">Update</button>
                        <a class="font" routerLink="/Student/{{routeid}}/Dashboard">Back</a>
                    </div>
                </div>
            </div>
        </form>
</div>
<app-student-footer></app-student-footer>