<app-student-header></app-student-header>
<div class="acount-dashboard">
    <div class="wrapper">
        <div class="left">
            <a href="/Student/{{routeid}}/Dashboard"><img src="https://cdn-icons-png.flaticon.com/128/922/922941.png"></a>
            <div class="left-links">
                <p class="digital">Wellcome, <a class="username" href="/Student/{{routeid}}/Dashboard">{{student.username}}</a></p>
                <a class="bio">
                    <ng-container *ngIf="student.bio == null || student.bio == ''">

                    </ng-container>
                    <ng-container *ngIf="student.bio != null">
                        <a class="bio-written code">{{student.bio}}</a>
                    </ng-container>
                </a>
            </div>
        </div>
        <div class="right">
            <p class="score code"><img src="https://cdn-icons-png.flaticon.com/128/4291/4291373.png" alt="points">Points: {{student.points}}</p>
        </div>
    </div>
</div>
<div class="teacher-form">
        <form #form="ngForm" (ngSubmit)="onSubmit()">
            <div class="site-top">
                <p class="caption digital">Settings</p>
            </div>
            <div class="box-form">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <div class="box">
                        <label class="code">First Name<img src="https://cdn-icons-png.flaticon.com/128/8704/8704368.png" alt="required"></label>
                        <input type="text" value="{{student.firstName}}" placeholder="First Name" name="firstName" [(ngModel)]="editStudent.firstName"
                            [class.input-error]="hasErrorFirstName && submited"
                            [class.input-valid]="!hasErrorFirstName && submited"/>
                        <span class="text-error code" *ngIf="hasErrorFirstNameRequired">First Name is required.</span>
                        <span class="text-error code" *ngIf="hasErrorFirstNameLength">First Name must be longer than 2 characters.</span>
                    </div>
                    <div class="box">
                        <label class="code">Last Name<img src="https://cdn-icons-png.flaticon.com/128/8704/8704368.png" alt="required"></label>
                        <input type="text" value="{{student.lastName}}" placeholder="Last Name" name="lastName" [(ngModel)]="editStudent.lastName"
                            [class.input-error]="hasErrorLastName && submited"
                            [class.input-valid]="!hasErrorLastName && submited"/>
                        <span class="text-error code" *ngIf="hasErrorLastNameRequired">Last Name is required.</span>
                        <span class="text-error code" *ngIf="hasErrorLastNameLength">Last Name must be longer than 2 characters.</span>
                    </div>
                    <div class="box">
                        <label class="code">Username<img src="https://cdn-icons-png.flaticon.com/128/8704/8704368.png" alt="required"></label>
                        <input type="text" value="{{student.username}}" placeholder="Username" name="username" [(ngModel)]="editStudent.username" 
                            [class.input-error]="hasErrorUsername && submited"
                            [class.input-valid]="!hasErrorUsername && submited"/>
                        <span class="text-error code" *ngIf="hasErrorUsernameRequired">Username is required.</span>
                        <span class="text-error code" *ngIf="hasErrorUsernameLength">Username must be longer than 5 characters.</span>
                    </div>
                    <div class="box">
                        <label class="code">Email<img src="https://cdn-icons-png.flaticon.com/128/8704/8704368.png" alt="required"></label>
                        <input type="text" value="{{student.email}}" placeholder="Email" name="email" [(ngModel)]="editStudent.email"
                            [class.input-error]="hasErrorEmail && submited"
                            [class.input-valid]="!hasErrorEmail && submited"/>
                        <span class="text-error code" *ngIf="hasErrorEmailRequired">Email is required.</span>
                        <span class="text-error code" *ngIf="hasErrorEmailRegex">The email may be taken or not valid.</span>
                    </div>
                    <div class="box">
                        <label class="code">Bio</label>
                        <textarea type="text" rows="8" cols="45" value="{{student.bio === 'initial' ? '' : student.bio}}" placeholder="Bio" name="bio" [(ngModel)]="editStudent.bio"
                            [class.input-error]="hasErrorBio && submited"
                            [class.input-valid]="!hasErrorBio && submited"></textarea>
                        <span class="text-error code" *ngIf="hasErrorBio">Bio must be longer than 5 symbols.</span>
                    </div>
                    <div class="box">
                        <label class="code">Password<img src="https://cdn-icons-png.flaticon.com/128/8704/8704368.png" alt="required"></label>
                        <input #passwordInput type="text" value="{{student.password}}" placeholder="Password" name="password" [(ngModel)]="editStudent.password" 
                            [class.input-error]="hasErrorPassword && submited"
                            [class.input-valid]="!hasErrorPassword && submited"/>
                        <span class="text-error code" *ngIf="hasErrorPassword">Password must start with uppercase letter and be longer than 5 symbols.</span>
                        <span class="text-error code" *ngIf="hasErrorPassword">Password must have digits.</span>
                    </div>
                    <div class="box">
                        <label class="code">Confirm Password<img src="https://cdn-icons-png.flaticon.com/128/8704/8704368.png" alt="required"></label>
                        <input #confirmPasswordInput type="text" value="{{student.confirmPassword}}" placeholder="Confirm Password" name="confirmPassword" [(ngModel)]="editStudent.confirmPassword"
                            [class.input-error]="hasErrorConfirmPassword && submited"
                            [class.input-valid]="!hasErrorConfirmPassword && submited"/>
                        <span class="text-error code" *ngIf="hasErrorConfirmPasswordRequired">Confirm Password is required.</span>
                        <span class="text-error code" *ngIf="hasErrorConfirmPasswordNotSame">Enter the same password from the upper field.</span>
                    </div>
                    <div class="box">
                        <label class="code">Courses</label>
                        <textarea type="text" rows="10" cols="45" disabled>{{ coursesText }}</textarea>
                    </div>
                    <div class="box-buttons">
                        <button class="update font">Update</button>
                        <a class="font" routerLink="/Student/{{routeid}}/Dashboard">Back</a>
                    </div>
                </div>
            </div>
        </form>
</div>
<app-student-footer></app-student-footer>