<div class="site-dashboard">
    <app-admin-navigation></app-admin-navigation>
    <div class="site-form">
        <form #form="ngForm" (ngSubmit)="onSubmit()">
            <input asp-for="Id" hidden/>
            <div class="site-top">
                <p class="caption digital">Update Teacher</p>
            </div>
            <div class="box-form">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <div class="box">
                        <label class="code">First Name</label>
                        <input type="text" value="{{takenTeacher.firstName}}" name="firstName" [(ngModel)]="teacher.firstName"/>
                        <span class="validation code">First Name must be longer than 2 letters.</span>
                    </div>
                    <div class="box">
                        <label class="code">Last Name</label>
                        <input type="text" value="{{takenTeacher.lastName}}" name="lastName" [(ngModel)]="teacher.lastName"/>
                        <span class="validation code">Last Name must be longer than 2 letters.</span>
                    </div>
                    <div class="box">
                        <label class="code">Username</label>
                        <input type="text" value="{{takenTeacher.username}}" name="username" [(ngModel)]="teacher.username" />
                        <span class="validation code">Username must be longer than 5 letters.</span>
                    </div>
                    <div class="box">
                        <label class="code">Email</label>
                        <input type="text" value="{{takenTeacher.email}}" name="email" [(ngModel)]="teacher.email"/>
                    </div>
                    <div class="box">
                        <label class="code">Account Type</label>
                        <input type="text" value="{{takenTeacher.accountType}}" [(ngModel)]="teacher.accountType" disabled/>
                    </div>
                    <div class="box">
                        <label class="code">Password</label>
                        <input type="text" value="{{takenTeacher.password}}" name="password" [(ngModel)]="teacher.password" />
                        <span class="validation code">Password must start with uppercase letter.</span>
                        <span class="validation code">Password must have digits.</span>
                        <span class="validation code">Password must be longer than 5 symbols.</span>
                    </div>
                    <div class="box">
                        <label class="code">Confirm Password</label>
                        <input type="text" value="{{takenTeacher.confirmPassword}}" name="confirmPassword" [(ngModel)]="teacher.confirmPassword"/>
                        <span class="validation code">Confirm Password must match password.</span>
                    </div>
                    <div class="box">
                        <label class="code">Created Date</label>
                        <input type="text" value="{{takenTeacher.createdDate}}" [(ngModel)]="teacher.createdDate" disabled/>
                    </div>
                    <div class="box">
                        <label class="code">Categories</label>
                        <textarea type="text" rows="10" cols="45" disabled>{{ categoriesText }}</textarea>
                    </div>
                    <div class="box">
                        <label class="code">Courses</label>
                        <textarea type="text" rows="10" cols="45" disabled>{{ coursesText }}</textarea>
                    </div>
                    <div class="box">
                        <label class="code">Sections</label>
                        <textarea type="text" rows="10" cols="45" disabled>{{ sectionsText }}</textarea>
                    </div>
                    <div class="box-buttons">
                        <button class="update font">Update</button>
                        <a class="font" routerLink="/Admin/{{routeid}}/Teachers">Back</a>
                    </div>
                </div>
            </div>
        </form>
     </div>
</div>