.site-intro {
    padding-bottom: 5rem;
    padding-top: 5rem;
}

.site-intro .media {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.site-intro .media img {
    transition: transform 0.3s ease;
    width: 75%;
}

.site-intro .media img:hover {
    transform: scale(1.05);
    border: 2px solid #FFE08C;
}

.site-intro .site-caption{
    text-align: center;
}

.site-intro .site-caption .title {
    font-weight: bold;
    font-size: 2.0rem;
    color: #222534;
}

.site-intro .site-caption .description {
    font-weight: lighter;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1.3rem;
    color: dimgray;
}

.site-intro .site-caption .description.last {
    margin-bottom: 1rem;
}

.site-intro .site-caption .butons {
    display: block;
}

.site-intro .site-caption .butons a{
    text-decoration: none;
    padding: 0.7rem 0.9rem;
    color: white;
    font-weight: 500;
    font-size: 0.8rem;
    background-color: #222534;
    margin-right: 0.5rem;
    border-radius: 0.2rem;
}

.site-intro .site-caption .butons a:hover{
    font-weight: bold;
    color: #FFE08C;
}

.site-intro .site-caption .butons a:active{
    font-weight: bold;
    color: #FFE08C;
}

@media screen and (min-width: 950px) {
    .site-intro {
        padding-bottom: 5rem;
        padding-top: 5rem;
    }

    .site-intro .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .site-intro .media {
        margin-right: 2rem;
        margin-bottom: 0;
        width: 80%;
        margin-bottom: 0rem;
    }

    .site-intro .media img {
        width: 90%;
        border-bottom: 2px solid #222534;
        border-left: 2px solid #222534;
        transition: transform 0.3s ease;
    }
    
    .site-intro .media img:hover {
        transform: translate(-5%,-5%) scale(1.05);
        border-bottom: 4px solid #FFE08C;
        border-left: 4px solid #FFE08C;
    }

    .site-intro .site-caption{
        text-align: start;
    }

    .site-intro .site-caption .description {
        margin-bottom: 0.8rem;
    }

    .site-intro .site-caption .butons {
        display: flex;
    }

    .site-intro .site-caption .butons a{
        padding: 0.5rem 0.4rem;
        display: block;
    }
}
