.site-info-student {
    background-color: #222534;
    padding-bottom: 4rem;
    padding-top: 4rem;
}

.site-info-student .media {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-right: 0;
    margin-bottom: 3rem;
}

.site-info-student .media img {
    width: 75%;
    transition: transform 0.3s ease;
}

.site-info-student .media img:hover {
    transform: scale(1.05);
    border: 2px solid #FFE08C;
}

.site-info-student .site-caption{
    text-align: center;
}

.site-info-student .site-caption .upper{
    text-transform: uppercase;
    font-size: 0.8rem;
    color: lightgray;
}

.site-info-student .site-caption .title {
    font-weight: bold;
    font-size: 2.0rem;
    color: #FFE08C;
}

.site-info-student .site-caption .description {
    font-weight: lighter;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    color: lightgray;
}

.site-info-student .site-caption .butons {
    display: block;
}

.site-info-student .site-caption .butons a{
    text-decoration: none;
    padding: 0.6rem 0.9rem;
    color: white;
    font-weight: 500;
    font-size: 0.8rem;
    background-color: #FFE08C;
    margin-right: 0.5rem;
    border-radius: 0.2rem;
}

.site-info-student .site-caption .butons a:hover{
    font-weight: bold;
    color: #222534;
}

@media screen and (min-width: 950px) {
    .site-info-student {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .site-info-student .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .site-info-student .media {
        margin-right: 4rem;
        margin-bottom: 0;
        width: 90%;
    }

    .site-info-student .media img {
        width: 100%;
    }

    .site-info-student .media img {
        border-bottom: 2px solid #FFE08C;
        border-left: 2px solid #FFE08C;
        transition: transform 0.3s ease;
    }
    
    .site-info-student .media img:hover {
        transform: translate(-5%,-3%) scale(1.05);
        border-bottom: 4px solid #FFE08C;
        border-left: 4px solid #FFE08C;
    }

    .site-info-student .site-caption{
        text-align: start;
    }

    .site-info-student .site-caption .description {
        margin-bottom: 0.8rem;
    }

    .site-info-student .site-caption .butons {
        display: flex;
    }

    .site-info-student .site-caption .butons a{
        padding: 0.5rem 0.4rem;
        display: block;
    }
}