.site-info-child {
    padding-bottom: 4rem;
    padding-top: 4rem;
}

.site-info-child .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.site-info-child .media {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-bottom: 3rem;
    order: 1;
    flex-basis: 100%;
}

.site-info-child .media img {
    width: 75%;
    transition: transform 0.3s ease;
}

.site-info-child .media img:hover {
    transform: scale(1.05);
    border: 2px solid #FFE08C;
}

.site-info-child .site-caption{
    text-align: center;
    order: 2;
    flex-basis: 100%;
}

.site-info-child .site-caption .upper{
    text-transform: uppercase;
    font-size: 0.8rem;
    color: dimgray;
}


.site-info-child .site-caption .title {
    font-weight: bold;
    font-size: 2.0rem;
    color: #222534;
}

.site-info-child .site-caption .description {
    font-weight: lighter;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    color: dimgray;
}

.site-info-child .site-caption .butons {
    display: block;
}

.site-info-child .site-caption .butons a{
    text-decoration: none;
    padding: 0.6rem 0.9rem;
    color: white;
    font-weight: 500;
    font-size: 0.8rem;
    background-color: #222534;
    margin-right: 0.5rem;
    border-radius: 0.2rem;
}

.site-info-child .site-caption .butons a:hover{
    font-weight: bold;
    color: #FFE08C;
}

@media screen and (min-width: 950px) {
    .site-info-child {
        padding-bottom: 5rem;
        padding-top: 5rem;
    }

    .site-info-child .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }

    .site-info-child .media {
        margin-left: 2rem;
        margin-bottom: 0;
        order: 2;
    }

    .site-info-child .media img {
        width: 80%;
        border-bottom: 2px solid #FFE08C;
        border-right: 2px solid #FFE08C;
        transition: transform 0.3s ease;
    }
    
    .site-info-child .media img:hover {
        transform: translate(-5%,-5%) scale(1.05);
        border-bottom: 4px solid #FFE08C;
        border-right: 4px solid #FFE08C;
    }

    .site-info-child .site-caption{
        text-align: start;
        order: 1;
    }

    .site-info-child .site-caption .description {
        margin-bottom: 0.8rem;
    }

    .site-info-child .site-caption .butons {
        display: flex;
    }

    .site-info-child .site-caption .butons a{
        padding: 0.5rem 0.4rem;
        display: block;
    }
}