.site-info {
    background-color: #222534;
    padding: 4rem;
}

.site-info .title{
    font-weight: bold;
    font-size: 1.9rem;
    text-align: center;
    color: #FFE08C;
}

.site-info .bars{
    text-align: center;
}

.site-info .bars .bar{
    margin-bottom: 2rem;
    margin-top: 2rem;
    transition: transform 0.3s ease;
}

.site-info .bars .bar:hover{
    transform: translateY(-5%) scale(1.05);
}

.site-info .bars img{
    width: 15%;
}

.site-info .bars .caption{
    font-weight: 500;
    margin-bottom: 0.4rem;
    font-size: 1.2rem;
    color: #FFE08C;

}

.site-info .bars .description{
    font-size: 0.8rem;
    color: lightgrey;
}

@media screen and (min-width: 950px) {
    .site-info {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .site-info .bars {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .site-info .bars img{
        width: 20%;
    }

    .site-info .title {
        margin-bottom: 4rem;
    }

    .site-info .bars .bar {
        margin-right: 1rem;
        margin-bottom: 0;
    }
}