#box-profile-boxx {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 2rem;
    background-color: #222534;
    border-radius: 0.2rem;
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.5);
    z-index: 200;
    margin-top: 3rem;
}

#box-profile-boxx .form-group {
    display: block;
}

#box-profile-boxx .form-group .box {
    margin-bottom: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.8rem;
}

#box-profile-boxx .form-group .box label{
    flex-basis: 100%;
    font-size: 1.1rem;
    font-weight: 500;
    color: #FFE08C;
}

#box-profile-boxx .form-group .box span{
    flex-basis: 100%;
    font-size: 0.8rem;
    font-style: italic;
    color: #FFE08C;
}


#box-profile-boxx .form-group .box input {
    padding: 0.3rem;
    font-size: 1rem;
    background-color: #FFE08C;
    border-radius: 0.2rem;
}

#box-profile-boxx .form-group .box input:focus-visible {
    border-color: #FFE08C;
    outline-color: #FFE08C;
}

#box-profile-boxx  .form-group .box-buttons {
    flex-basis: 100%;
    margin-top: 1rem;
}

#box-profile-boxx  .form-group .box-buttons .update {
    display: inline-block;
    border: none;
    border-radius: 0.4rem;
    background-color: #FFE08C;
    color: #222534;
    font-size: 0.9rem;
    padding: 0.5rem 0.6rem;
    cursor: pointer;
    margin-right: 0.5rem;
}

#box-profile-boxx  .form-group .box-buttons .update:hover {
    font-weight: bold;
}

#box-profile-boxx .form-group .box-buttons .back {
    display: inline-block;
    border: none;
    border-radius: 0.4rem;
    background-color: #FFE08C;
    color: #222534;
    font-size: 0.9rem;
    padding: 0.5rem 0.6rem;
    cursor: pointer;
    text-decoration: none;
}

#box-profile-boxx .form-group .box-buttons .back:hover {
    font-weight: bold;
}

.acount-dashboard-teacher {
    position: relative;
    top: -1rem;
    background-color: #FFE08C;
    padding: 2rem 1rem 2rem 1rem;
}

.acount-dashboard-teacher .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.acount-dashboard-teacher .left .left-links .username{
    text-decoration: none;
    color: #222534;
    font-weight: 500;
}

.acount-dashboard-teacher .left .left-links p{
    font-size: 1.7rem;
}

.acount-dashboard-teacher .left .left-links .info{
    color: #222534;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 500;
}

.acount-dashboard-teacher .left .left-links a{
    text-decoration: underline;
}

.acount-dashboard-teacher .left .left-links a:hover{
    font-weight: bold;
}

.acount-dashboard-teacher .right{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.acount-dashboard-teacher .right .btn{
    flex-basis: 100%;
    color: black;
    padding: 0.2rem 0.3rem;
    border-radius: 0.4rem;
    display: inline-block;
    text-align: center;
    font-size: 0.9rem;
    cursor: pointer;
    margin-left: 1.5rem;
    text-decoration: underline;
}

.acount-dashboard-teacher .right .btn:hover{
    font-weight: bold;
}

.acount-dashboard-teacher .right .score{
    display: inline-block;
    padding: 0.2rem 0.4rem;
    border-radius: 0.4rem;
    font-size: 0.9rem;
    margin-left: 0.5rem;
    background-color: #222534;
    color: #FFE08C;
}

.acount-dashboard-teacher .right .score img{
    position: relative;
    top: 0.1rem;
    width: 35px;
    height: 35px;
    margin-right: 0.2rem;
}

.acount-dashboard-teacher .right .score:first-child{
    margin-left: 0;
}

/*-------Profile--------*/
.teacher-dashboard {
    padding: 1rem 1rem 2rem 1rem;
}


.teacher-dashboard .down-profile .info-box {
    border: 2px solid #FFE08C;
    background-color: #222534;
    border-radius: 0.4rem;
    margin-top: 1rem;
    width: 100%;
    color: #FFE08C;
}

.teacher-dashboard .down-profile .info-box .up{
    border-bottom: 2px solid #FFE08C;
    background-color: #222534;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    padding: 0.5rem;
    color: #FFE08C;
}

.teacher-dashboard .down-profile .info-box .cap{
    font-size: 1rem;
    font-weight: 500;
}

.teacher-dashboard .down-profile .info-box .info-left{
    font-size: 0.7rem;
}

.teacher-dashboard .down-profile .info-box .desc{
    font-size: 0.7rem;
    color: #FFE08C;
}

.teacher-dashboard .down-profile .info-box .desc img{ 
    position: relative;
    top: 0.1rem;
    width: 35px;
    height: 35px;
    margin-right: 0.2rem;
}

.teacher-dashboard .down-profile .info-box .down{
    padding: 0.5rem;
}

.teacher-dashboard .down-profile .info-box .box{
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 1050px) {
    
}