#box-profile-boxx {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 2rem;
    background-color: white;
    border-radius: 0.2rem;
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.5);
    z-index: 200;
    margin-top: 3rem;
}

#box-profile-boxx .form-group {
    display: block;
}

#box-profile-boxx .form-group .box {
    margin-bottom: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.8rem;
}

#box-profile-boxx .form-group .box label{
    flex-basis: 100%;
    font-size: 1.1rem;
    font-weight: 500;
}

#box-profile-boxx .form-group .box span{
    flex-basis: 100%;
    font-size: 0.8rem;
    font-style: italic;
}


#box-profile-boxx .form-group .box input {
    padding: 0.3rem;
    font-size: 1rem;
}

#box-profile-boxx  .form-group .box-buttons {
    flex-basis: 100%;
    margin-top: 1rem;
}

#box-profile-boxx  .form-group .box-buttons .update {
    display: inline-block;
    border: none;
    border-radius: 0.4rem;
    background-color: orange;
    color: white;
    font-size: 0.9rem;
    padding: 0.5rem 0.6rem;
    cursor: pointer;
    margin-right: 0.5rem;
}

#box-profile-boxx  .form-group .box-buttons .update:hover {
    font-size: 1rem;
}

#box-profile-boxx .form-group .box-buttons .back {
    display: inline-block;
    border: none;
    border-radius: 0.4rem;
    background-color: blue;
    color: white;
    font-size: 0.9rem;
    padding: 0.4rem 0.5rem;
    cursor: pointer;
    text-decoration: none;
}

#box-profile-boxx .form-group .box-buttons .back:hover {
    font-size: 1rem;
}

.acount-dashboard-teacher {
    background-color: #E9F8FA;
    padding: 3rem 1rem;
}

.acount-dashboard-teacher .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.acount-dashboard-teacher .left .left-links .username{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
}

.acount-dashboard-teacher .left .left-links .info{
    color: black;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.acount-dashboard-teacher .left .left-links a:hover{
    color: blue;
}

.acount-dashboard-teacher .right{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.acount-dashboard-teacher .right .btn{
    flex-basis: 100%;
    color: black;
    text-decoration: none;
    padding: 0.2rem 0.3rem;
    border-radius: 0.4rem;
    display: inline-block;
    text-align: center;
    font-size: 0.9rem;
    cursor: pointer;
    margin-left: 1.5rem;
}

.acount-dashboard-teacher .right .btn:hover{
    color: blue;
    font-weight:500;
}

.acount-dashboard-teacher .right .score{
    display: inline-block;
    padding: 0.2rem 0.4rem;
    border-radius: 0.4rem;
    font-size: 0.9rem;
    background: linear-gradient(to right, #25B6D2, #71CFE2); 
    margin-left: 0.5rem;
}

.acount-dashboard-teacher .right .score:first-child{
    margin-left: 0;
}

/*-------Profile--------*/
.teacher-dashboard .down-profile .info-box {
    border: 2px solid lightgray;
    border-radius: 0.4rem;
    margin-top: 1rem;
    width: 100%;
}

.teacher-dashboard .down-profile .info-box .up{
    border-bottom: 2px solid lightgray;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.teacher-dashboard .down-profile .info-box .cap{
    font-size: 0.9rem;
    font-weight: 500;
}

.teacher-dashboard .down-profile .info-box .desc{
    font-size: 0.7rem;
    color: gray;
}

.teacher-dashboard .down-profile .info-box .down{
    padding: 0.5rem;
}

.teacher-dashboard .down-profile .info-box .box{
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 1050px) {
    
}