<app-student-header></app-student-header>
<div class="intro-news">
    <div class="wrapper">
        <ng-container *ngFor="let news of newss">
            <ng-container *ngIf="news.id == newsid">
                <p class="cap digital"><a routerLink="/Student/{{routeid}}/AllNews">News: <strong>{{news.title}}</strong></a></p>
            </ng-container>
        </ng-container>
    </div>
</div>
<div class="info-news">
    <div class="wrapper">
        <div class="left">
            <div class="down-down">
                <p class="cap code">News about:</p>
                <ng-container *ngFor="let news of newss">
                    <ng-container *ngIf="news.id == newsid">
                        <p class="description code">{{news.description}}</p>
                    </ng-container>
                </ng-container>
            </div>
            <div class="down-up code">
                <p class="cap">Users readed this news:</p>
                <ng-container *ngFor="let news of newss">
                    <ng-container *ngIf="news.id == newsid">
                        <p class="description code">{{countUsers(news)}}<img src="https://cdn-icons-png.flaticon.com/128/3750/3750011.png" alt="student"> Users</p>
                    </ng-container>
                </ng-container>
            </div>
            <div class="down-under">
                <p class="cap code">Article rating:</p>
                <ng-container *ngFor="let news of newss">
                    <ng-container *ngIf="news.id == newsid">
                        <p class="description code">Rate {{news.rating}}<img src="https://cdn-icons-png.flaticon.com/128/477/477406.png" alt="stars"> from {{news.ratingQty}}<img src="https://cdn-icons-png.flaticon.com/128/9195/9195871.png" alt="users"> users</p>
                    </ng-container>
                </ng-container>
            </div>
            <div class="bottom">
                <p class="cap code">Created by:</p>
                <ng-container *ngFor="let news of newss">
                    <ng-container *ngIf="news.id == newsid">
                        <ng-container *ngIf="news.adminID != null">
                            <ng-container *ngFor="let admin of admins">
                                <ng-container *ngIf="news.adminID == admin.id">
                                    <p class="creator code">Admin: {{admin.username}}</p>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="news.adminID == null">
                            <p class="creator code">The creator was deactivated.</p>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </div>
        </div>
        <div class="right">
            <ng-container *ngFor="let news of newss">
                <ng-container *ngIf="news.id == newsid"> 
                    <ng-container *ngIf="news.videoUrl !== 'initial'">
                        <youtube-player [videoId]="news.videoUrl" suggestedQuality="highres" [width]="1000" [height]="450" [startSeconds]="4" [endSeconds]="300" style="width: 100%;"></youtube-player>
                    </ng-container>
                </ng-container>
            </ng-container>
            <ng-container *ngFor="let news of newss">
                <ng-container *ngIf="news.id == newsid"> 
                    <div class="box">
                        <div class="up">
                            <ng-container>
                                <a routerLink="/Student/{{routeid}}/News/{{news.id}}"><img src="https://cdn-icons-png.flaticon.com/128/2965/2965879.png" alt="news"></a>
                            </ng-container>
                            <p class="title digital">Title: <strong>{{news.title}}</strong></p>
                        </div>
                            <div class="down">
                                <p class="description code">Description: <strong>{{news.description}}</strong></p>
                            </div>
                    </div>
                </ng-container>
            </ng-container>
            <div class="under">
                <ng-container *ngIf="preview">
                    <p class="font"><a routerLink="/Student/{{routeid}}/News/{{newsid}}/Enroll">Preview</a></p>
                </ng-container>
                <ng-container *ngIf="enroll">
                    <p class="font"><a (click)="enrollStudent()" style="cursor: pointer;">Enroll</a></p>
                </ng-container>
            </div>
        </div>
    </div>
</div>
<app-student-footer></app-student-footer>