<div class="site-dashboard">
    <app-admin-navigation></app-admin-navigation>
    <div class="site-right">
        <div class="site-right">
            <form #form="ngForm" (ngSubmit)="onSubmit()">
                <div class="site-top">
                    <p class="caption">Add User</p>
                </div>
                <div class="box-form">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="form-group">
                        <div class="box">
                            <label>First Name</label>
                            <input type="text" aria-required="true" name="firstName" [(ngModel)]="user.firstName" />
                            <span class="validation">First Name must be longer than 2 letters.</span>
                        </div>
                        <div class="box">
                            <label>Last Name</label>
                            <input type="text" aria-required="true" name="lastName" [(ngModel)]="user.lastName" />
                            <span class="validation">First Name must be longer than 2 letters.</span>
                        </div>
                        <div class="box">
                            <label>Username</label>
                            <input type="text" aria-required="true" name="username" [(ngModel)]="user.username" />
                            <span class="validation">Username must be longer than 5 letters.</span>
                        </div>
                        <div class="box">
                            <label>Email</label>
                            <input type="text" aria-required="true" name="email" [(ngModel)]="user.email" />
                        </div>
                        <div class="box">
                            <label>Account Type</label>
                            <select class="form-control" aria-required="true" placeholder="Select account type" name="accountType" [(ngModel)]="user.accountType">
                                <option selected disabled>Select account type</option>
                                <option value="Admin">Admin</option>
                                <option value="Teacher">Teacher</option>
                                <option value="Student">Student</option>
                            </select>
                        </div>
                        <div class="box">
                            <label>Password</label>
                            <input type="text" aria-required="true" name="password" [(ngModel)]="user.password" />
                            <span asp-validation-for="Password"></span>
                            <span class="validation">Password must start with uppercase letter.</span>
                            <span class="validation">Password must have digits.</span>
                            <span class="validation">Password must be longer than 5 symbols.</span>
                        </div>
                        <div class="box">
                            <label>Confirm Password</label>
                            <input type="text" aria-required="true" name="confirmPassword"
                                [(ngModel)]="user.confirmPassword" />
                            <span class="validation">Confirm Password must match password.</span>
                        </div>
                        <div class="box-buttons">
                            <button class="add">Add</button>
                            <a class="" routerLink="/Admin/{{routeid}}/Users">Back</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>