<div class="site-dashboard">
    <app-admin-navigation></app-admin-navigation>
    <div class="site-right">
        <form #form="ngForm" (ngSubmit)="onSubmit()">
            <div class="site-top">
                <p class="caption">Create Category</p>
            </div>
            <div class="box-form">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <div class="box">
                        <label>Title</label>
                        <input type="text" aria-required="true" name="title" [(ngModel)]="category.title"/>
                        <span class="validation">Title must be longer than 2 letters.</span>
                    </div>
                    <div class="box">
                        <label>Description</label>
                        <textarea type="text" rows="10" cols="55" aria-required="true" name="description" [(ngModel)]="category.description"></textarea>
                        <span class="validation">Description must be longer than 2 letters.</span>
                    </div>
                    <div class="box-buttons">
                        <button class="add">Create</button>
                        <a class="" routerLink="/Admin/{{routeid}}/Categories">Back</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>