<app-teacher-header></app-teacher-header>
<div class="acount-dashboard-teacher">
    <div class="wrapper">
        <div class="left">
            <div class="left-links">
                <p>Wellcome, <a class="username" href="/Teacher/{{routeid}}/Dashboard">{{teacher.username}}</a></p>
                <p class="info">Teacher dashboard</p>
            </div>
        </div>
        <div class="right">
            <p class="score">Categories: {{countCategories}}</p>
            <p class="score">Courses: {{countCourses}}</p>
            <p class="score">Sections: {{countSections}}</p>
        </div>
    </div>
</div>
<div class="teacher-form">
    <div class="wrapper">
        <form #form="ngForm" (ngSubmit)="onSubmit()">
            <div class="site-top">
                <p class="caption">Create Course</p>
            </div>
            <div class="box-form">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <div class="box">
                        <label>Title</label>
                        <input type="text" aria-required="true" name="title" [(ngModel)]="course.title"/>
                        <span class="validation">Title must be longer than 2 letters.</span>
                    </div>
                    <div class="box">
                        <label>Description</label>
                        <textarea type="text" rows="10" cols="55" aria-required="true" name="description" [(ngModel)]="course.description"></textarea>
                        <span class="validation">Description must be longer than 2 letters.</span>
                    </div>
                    <div class="box">
                        <label>Points</label>
                        <input type="text" aria-required="true" name="points" [(ngModel)]="course.points"/>
                        <span class="validation">Points must be bigger than > 0</span>
                    </div>
                    <div class="box">
                        <label>Category</label>
                        <select class="form-control" aria-required="true" placeholder="Select category" name="categoryId" [(ngModel)]="course.categoryID">
                            <option *ngFor="let category of categories" value="{{ category.id }}">{{ category.title }}</option>
                        </select>
                    </div>
                    <div class="box-buttons">
                        <button class="add">Create</button>
                        <a class="" routerLink="/Teacher/{{routeid}}/Dashboard">Back</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<app-teacher-footer></app-teacher-footer>