.privacy-info{
    padding: 2rem 0;
    margin: 0 3rem;
}

.privacy-info .section img{
    position: relative;
    top: 0.1rem;
    width: 35px;
    height: 35px;
    margin-right: 0.3rem;
}

.privacy-info .section .title{
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 0.4rem;
    color: #222534;
}

.privacy-info .section .description{
    margin-bottom: 1rem;
    font-size: 0.9rem;
    color: #222534;
}