<app-teacher-header></app-teacher-header>
<div class="acount-dashboard-teacher">
    <div class="wrapper">
        <div class="left">
            <div class="left-links">
                <p class="digital">Wellcome, <a class="username" href="/Teacher/{{routeid}}/Dashboard">{{teacher.username}}</a></p>
                <p class="info code">Teacher dashboard</p>
            </div>
        </div>
        <div class="right">
            <p class="score code">Categories: {{countCategories}}</p>
            <p class="score code">Courses: {{countCourses}}</p>
            <p class="score code">Sections: {{countSections}}</p>
            <p class="score code">Articles: {{countArticles}}</p>
        </div>
    </div>
</div>
<div class="teacher-form">
        <form #form="ngForm" (ngSubmit)="onSubmit()">
            <div class="site-top">
                <p class="caption digital">Create Article</p>
            </div>
            <div class="box-form">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <div class="box">
                        <label class="code">Title<img src="https://cdn-icons-png.flaticon.com/128/8704/8704368.png" alt="required"></label>
                        <input type="text" aria-required="true" placeholder="Title" name="title" [(ngModel)]="article.title"
                            [class.input-error]="hasErrorTitle && submited"
                            [class.input-valid]="!hasErrorTitle && submited"/>
                        <span class="text-error code" *ngIf="hasErrorTitleRequired">Title is required.</span>
                        <span class="text-error code" *ngIf="hasErrorTitleLength">Title must be longer than 2 characters.</span>
                    </div>
                    <div class="box">
                        <label class="code">Description<img src="https://cdn-icons-png.flaticon.com/128/8704/8704368.png" alt="required"></label>
                        <textarea type="text" rows="10" cols="55" aria-required="true" placeholder="Description" name="description" [(ngModel)]="article.description"
                            [class.input-error]="hasErrorDescription && submited"
                            [class.input-valid]="!hasErrorDescription && submited"></textarea>
                        <span class="text-error code" *ngIf="hasErrorDescriptionRequired">Description is required.</span>
                        <span class="text-error code" *ngIf="hasErrorDescriptionLength">Description must be longer than 2 characters.</span>
                    </div>
                    <div class="box">
                        <label class="code">Text<img src="https://cdn-icons-png.flaticon.com/128/8704/8704368.png" alt="required"></label>
                        <textarea type="text" rows="15" cols="85" aria-required="true" placeholder="Text" name="text" [(ngModel)]="article.text"
                            [class.input-error]="hasErrorText && submited"
                            [class.input-valid]="!hasErrorText && submited"></textarea>
                        <span class="text-error code" *ngIf="hasErrorTextRequired">Text is required.</span>
                        <span class="text-error code" *ngIf="hasErrorTextLength">Text must be longer than 2 characters.</span>
                    </div>
                    <div class="box-buttons">
                        <button class="add font">Create</button>
                        <a class="font" routerLink="/Teacher/{{routeid}}/Dashboard">Back</a>
                    </div>
                </div>
            </div>
        </form>
</div>
<app-teacher-footer></app-teacher-footer>