<app-teacher-header></app-teacher-header>
<div class="contact-intro">
    <div class="wrapper">
        <div class="contact-caption">
            <p class="intro">How can we help?</p>
        </div>
    </div>
</div>
<div class="contact-line">
</div>
<div class="contact-info">
    <div class="wrapper">
        <div class="box">
            <i class="fa-solid fa-bug"></i>
            <a class="upper" href="">Bugs and troubleshooting</a>
            <p class="lowwer">Find information and workarounds for technical issues</p>
        </div>
        <div class="box">
            <i class="fa-solid fa-question"></i>
            <a class="upper" href="">Frequently asked questions</a>
            <p class="lowwer">Common questions and resourses about using Dev Academy</p>
        </div>
        <div class="box">
            <i class="fa-solid fa-code"></i>
            <a class="upper" href="">Ask the community</a>
            <p class="lowwer">Get tips, tricks and help from your fellow community members</p>
        </div>
        <div class="box">
            <i class="fa-solid fa-graduation-cap"></i>
            <a class="upper" href="">Learners</a>
            <p class="lowwer">Guides and resources for learners and students</p>
        </div>
        <div class="box">
            <i class="fa-solid fa-chalkboard-user"></i>
            <a class="upper" href="">Teachers and coaches</a>
            <p class="lowwer">Guides and resources for teachers and coaches</p>
        </div>
        <div class="box">
            <i class="fa-solid fa-circle-info"></i>
            <a class="upper" href="">Help center</a>
            <p class="lowwer">Call us for eceryting and get help</p>
        </div>
    </div>
</div>
<div class="contact-center">
    <div class="wrapper">
        <div class="intro">
            <p class="title">Help Center</p>
            <p class="date">Updated 1 day ago</p>
            <p class="sub">If you are a learner, teacher, parent or administrator, please contact our support team.</p>
        </div>
        <div class="center">
            <p class="caption">What's new</p>
            <ul>
                <li>We've partnered with more than 280 school districts across the United States</li>
                <li>District partners include Brown County Schools in Indiana, YES Prep Public Schools in Houston, Hartford Public Schools, Madera Unified School District and Omaha Public Schools</li>
                <li>Our district offerings are Dev Academy Districts and MAP Accelerator, developed with NWEA</li>
                <li>Across district partners, 66% of students qualify for free and reduced-price lunch</li>
            </ul>
            <p class="caption">About Dev Academy</p>
            <ul>
                <li>We’re a nonprofit educational organization</li>
                <li>Our focus is supporting students from low-income communities and students of color</li>
                <li>We offer free lessons in math, science and humanities</li>
                <li>Dev Academy is available in 51 languages, including Spanish</li>
                <li>Our platform includes practice problems, videos, articles and quizzes </li>
                <li>We offer free tools for teachers and parents to track student progress</li>
                <li>Dev Academy is used in more than 190 countries</li>
                <li>More than 130 million registered users</li>
            </ul>
            <p class="caption">Dev Academy Contacts</p>
            <ul>
                <li><i class="fa-solid fa-location-dot"></i>Address: Studentski grad, Sofia, 13</li>
                <li><i class="fa-solid fa-phone"></i>Phone: +359 359 359 359</li>
                <li><i class="fa-solid fa-user"></i>Cio: Georgi Anastasov</li>
                <li><i class="fa-solid fa-at"></i>Email: devacademy@gmail.com</li>
            </ul>
        </div>
    </div>
</div>
<div class="contact-line">
</div>
<app-teacher-footer></app-teacher-footer>