<div class="site-dashboard">
    <app-admin-navigation></app-admin-navigation>
    <div class="site-right">
        <div id="teacher-section">
            <div class="site-top">
                <p class="caption">Section Teachers</p>
                <a class="btt add" routerLink="/Admin/{{routeid}}/Add/Teacher">Add Teacher</a>
            </div>
            <table class="dashboard-table">
                <thead>
                    <tr>
                        <th>Identical</th>
                        <th>First name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Account Type</th>
                        <th>Password</th>
                        <th>Created Date</th>
                        <th>Categories</th>
                        <th>Courses</th>
                        <th>Sections</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let teacher of teachers">
                        <td>{{ teacher.id }}</td>
                        <td>{{ teacher.firstName }}</td>
                        <td>{{ teacher.lastName }}</td>
                        <td>{{ teacher.username }}</td>
                        <td>{{ teacher.email }}</td>
                        <td>{{ teacher.accountType }}</td>
                        <td>{{ teacher.password }}</td>
                        <td>{{ teacher.createdDate }}</td>
                        <td>
                            <ng-container *ngFor="let category of categories">
                                <p *ngIf="category.teacherID == teacher.id">Id: {{ category.id }} <br>Title: {{ category.title }}</p>
                                <p  *ngIf="category.teacherID == teacher.id" class="line"></p>
                            </ng-container>
                        </td>
                        <td>
                            <ng-container *ngFor="let course of courses">
                                <p *ngIf="course.teacherID == teacher.id">Id: {{ course.id }} <br>Title: {{ course.title }}</p>
                                <p *ngIf="course.teacherID == teacher.id" class="line"></p>
                            </ng-container>
                        </td>
                        <td>
                            <ng-container *ngFor="let section of sections">
                                <p *ngIf="section.teacherID == teacher.id">Id: {{ section.id }} <br>Title: {{ section.title }}</p>
                                <p *ngIf="section.teacherID == teacher.id" class="line"></p>
                            </ng-container>
                        </td>
                        <td>
                            <div class="box">
                                <a class="update" routerLink="/Admin/{{routeid}}/Update/Teacher/{{teacher.id}}">Update</a>
                                <a class="delete" routerLink="/Admin/{{routeid}}/Delete/Teacher/{{teacher.id}}">Delete</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>