<app-teacher-header></app-teacher-header>
<div class="acount-dashboard-teacher">
    <div class="wrapper">
        <div class="left">
            <div class="left-links">
                <p class="digital">Wellcome, <a class="username" href="/Teacher/{{routeid}}/Dashboard">{{teacher.username}}</a></p>
                <p class="info code">Teacher dashboard</p>
            </div>
        </div>
        <div class="right">
            <p class="score code"><img src="https://cdn-icons-png.flaticon.com/128/5415/5415390.png" alt="category">Categories: {{countCategories}}</p>
            <p class="score code"><img src="https://cdn-icons-png.flaticon.com/128/9387/9387582.png" alt="course">Courses: {{countCourses}}</p>
            <p class="score code"><img src="https://cdn-icons-png.flaticon.com/128/4228/4228952.png" alt="section">Sections: {{countSections}}</p>
            <p class="score code"><img src="https://cdn-icons-png.flaticon.com/128/4228/4228952.png" alt="section">Articles: {{countArticles}}</p>
        </div>
    </div>
</div>
<div class="teacher-form">
    <div class="wrapper">
        <form #form="ngForm" (ngSubmit)="onSubmit()">
            <div class="site-top">
                <p class="caption digital">Settings</p>
            </div>
            <div class="box-form">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <div class="box">
                        <label class="code">First Name<img src="https://cdn-icons-png.flaticon.com/128/8704/8704368.png" alt="required"></label>
                        <input type="text" value="{{takenTeacher.firstName}}" placeholder="First Name" name="firstName" [(ngModel)]="teacher.firstName"
                            [class.input-error]="hasErrorFirstName && submited"
                            [class.input-valid]="!hasErrorFirstName && submited"/>
                        <span class="text-error code" *ngIf="hasErrorFirstNameRequired">First Name is required.</span>
                        <span class="text-error code" *ngIf="hasErrorFirstNameLength">First Name must be longer than 2 characters.</span>
                    </div>
                    <div class="box">
                        <label class="code">Last Name<img src="https://cdn-icons-png.flaticon.com/128/8704/8704368.png" alt="required"></label>
                        <input type="text" value="{{takenTeacher.lastName}}" placeholder="Last Name" name="lastName" [(ngModel)]="teacher.lastName"
                            [class.input-error]="hasErrorLastName && submited"
                            [class.input-valid]="!hasErrorLastName && submited"/>
                        <span class="text-error code" *ngIf="hasErrorLastNameRequired">Last Name is required.</span>
                        <span class="text-error code" *ngIf="hasErrorLastNameLength">Last Name must be longer than 2 characters.</span>
                    </div>
                    <div class="box">
                        <label class="code">Username<img src="https://cdn-icons-png.flaticon.com/128/8704/8704368.png" alt="required"></label>
                        <input type="text" value="{{takenTeacher.username}}" placeholder="Username" name="username" [(ngModel)]="teacher.username" 
                            [class.input-error]="hasErrorUsername && submited"
                            [class.input-valid]="!hasErrorUsername && submited"/>
                        <span class="text-error code" *ngIf="hasErrorUsernameRequired">Username is required.</span>
                        <span class="text-error code" *ngIf="hasErrorUsernameLength">Username must be longer than 5 characters.</span>
                    </div>
                    <div class="box">
                        <label class="code">Email<img src="https://cdn-icons-png.flaticon.com/128/8704/8704368.png" alt="required"></label>
                        <input type="text" value="{{takenTeacher.email}}" placeholder="Email" name="email" [(ngModel)]="teacher.email"
                            [class.input-error]="hasErrorEmail && submited"
                            [class.input-valid]="!hasErrorEmail && submited"/>
                        <span class="text-error code" *ngIf="hasErrorEmailRequired">Email is required.</span>
                        <span class="text-error code" *ngIf="hasErrorEmailRegex">The email may be taken or not valid.</span>
                    </div>
                    <div class="box">
                        <label class="code">Password<img src="https://cdn-icons-png.flaticon.com/128/8704/8704368.png" alt="required"></label>
                        <input #passwordInput type="text" value="{{takenTeacher.password}}" placeholder="Password" name="password" [(ngModel)]="teacher.password" 
                            [class.input-error]="hasErrorPassword && submited"
                            [class.input-valid]="!hasErrorPassword && submited"/>
                        <span class="text-error code" *ngIf="hasErrorPassword">Password must start with uppercase letter and be longer than 5 symbols.</span>
                        <span class="text-error code" *ngIf="hasErrorPassword">Password must have digits.</span>
                    </div>
                    <div class="box">
                        <label class="code">Confirm Password<img src="https://cdn-icons-png.flaticon.com/128/8704/8704368.png" alt="required"></label>
                        <input #confirmPasswordInput type="text" value="{{takenTeacher.confirmPassword}}" placeholder="Confirm Password" name="confirmPassword" [(ngModel)]="teacher.confirmPassword"
                            [class.input-error]="hasErrorConfirmPassword && submited"
                            [class.input-valid]="!hasErrorConfirmPassword && submited"/>
                        <span class="text-error code" *ngIf="hasErrorConfirmPasswordRequired">Confirm Password is required.</span>
                        <span class="text-error code" *ngIf="hasErrorConfirmPasswordNotSame">Enter the same password from the upper field.</span>
                    </div>
                    <div class="box">
                        <label class="code">Categories</label>
                        <textarea type="text" rows="10" cols="45" disabled>{{ categoriesText }}</textarea>
                    </div>
                    <div class="box">
                        <label class="code">Courses</label>
                        <textarea type="text" rows="10" cols="45" disabled>{{ coursesText }}</textarea>
                    </div>
                    <div class="box">
                        <label class="code">Sections</label>
                        <textarea type="text" rows="10" cols="45" disabled>{{ sectionsText }}</textarea>
                    </div>
                    <div class="box-buttons">
                        <button class="update font">Update</button>
                        <a class="font" routerLink="/Teacher/{{routeid}}/Dashboard">Back</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<app-teacher-footer></app-teacher-footer>