<div class="site-dashboard">
    <app-admin-navigation></app-admin-navigation>
    <div class="site-form">
        <form #form="ngForm" (ngSubmit)="onSubmit()">
            <input asp-for="Id" hidden/>
            <div class="site-top">
                <p class="caption digital">Update Category</p>
            </div>
            <div class="box-form">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <div class="box">
                        <label class="code">Title<img src="https://cdn-icons-png.flaticon.com/128/8704/8704368.png" alt="required"></label>
                        <input type="text" value="{{takenCategory.title}}" placeholder="Title" name="title" [(ngModel)]="category.title"
                            [class.input-error]="hasErrorTitle && submited"
                            [class.input-valid]="!hasErrorTitle && submited"/>
                        <span class="text-error code" *ngIf="hasErrorTitleRequired">Title is required.</span>
                        <span class="text-error code" *ngIf="hasErrorTitleLength">Title must be longer than 2 characters.</span>
                    </div>
                    <div class="box">
                        <label class="code">Description<img src="https://cdn-icons-png.flaticon.com/128/8704/8704368.png" alt="required"></label>
                        <textarea type="text" rows="10" cols="55" value="{{takenCategory.description}}" placeholder="Title" name="description" [(ngModel)]="category.description"
                            [class.input-error]="hasErrorDescription && submited"
                            [class.input-valid]="!hasErrorDescription && submited"></textarea>
                        <span class="text-error code" *ngIf="hasErrorDescriptionRequired">Description is required.</span>
                        <span class="text-error code" *ngIf="hasErrorDescriptionLength">Description must be longer than 2 characters.</span>
                    </div>
                    <div class="box">
                        <label class="code">Courses</label>
                        <textarea rows="10" cols="40" disabled>{{ coursesText }}</textarea>
                    </div>
                    <div class="box" *ngIf="hasAdmin">
                        <label class="code">Admin</label>
                        <textarea rows="2" cols="45" disabled>{{ adminText }}</textarea>
                    </div>
                    <div class="box" *ngIf="hasTeacher">
                        <label class="code">Teacher</label>
                        <textarea rows="2" cols="45" disabled>{{ teacherText }}</textarea>
                    </div>
                    <div class="box" *ngIf="!hasAdmin && !hasTeacher">
                        <label class="code">Created by</label>
                        <textarea rows="2" cols="45" disabled>The creator was deactivated or no information.</textarea>
                    </div>
                    <div class="box-buttons">
                        <button class="update font">Update</button>
                        <a class="font" routerLink="/Admin/{{routeid}}/Categories">Back</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>