<div class="site-dashboard">
    <app-admin-navigation></app-admin-navigation>
    <div class="site-form">
        <form #form="ngForm" (ngSubmit)="onSubmit()">
            <input asp-for="Id" hidden/>
            <div class="site-top">
                <p class="caption digital">Update Category</p>
            </div>
            <div class="box-form">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <div class="box">
                        <label class="code">Title</label>
                        <input type="text" value="{{takenCategory.title}}" name="title" [(ngModel)]="category.title"/>
                        <span class="validation code">Title must be longer than 2 letters.</span>
                    </div>
                    <div class="box">
                        <label class="code">Description</label>
                        <textarea type="text" rows="10" cols="55" value="{{takenCategory.description}}" name="description" [(ngModel)]="category.description"></textarea>
                        <span class="validation code">Description must be longer than 2 letters.</span>
                    </div>
                    <div class="box">
                        <label class="code">Courses</label>
                        <textarea rows="10" cols="40" disabled>{{ coursesText }}</textarea>
                    </div>
                    <div class="box" *ngIf="hasAdmin">
                        <label class="code">Admin</label>
                        <textarea rows="2" cols="45" disabled>{{ adminText }}</textarea>
                    </div>
                    <div class="box" *ngIf="hasTeacher">
                        <label class="code">Teacher</label>
                        <textarea rows="2" cols="45" disabled>{{ teacherText }}</textarea>
                    </div>
                    <div class="box" *ngIf="!hasAdmin && !hasTeacher">
                        <label class="code">Created by</label>
                        <textarea rows="2" cols="45" disabled>The creator was deactivated or no information.</textarea>
                    </div>
                    <div class="box-buttons">
                        <button class="update font">Update</button>
                        <a class="font" routerLink="/Admin/{{routeid}}/Categories">Back</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>