<div class="site-left">
    <p class="site-title digital">Admin Dashboard</p>
    <nav class="navigation-account">
        <ul>
            <li class="code">
                <p>Admin: {{ admin.username }}</p>
            </li>
            <li class="font"><a routerLink="/Home/Main">Logout</a></li>
        </ul>
    </nav>
    <nav class="navigation-admin">
        <ul>
            <li class="font"><a routerLink="/Admin/{{routeid}}/Dashboard">All</a></li>
            <li class="font"><a routerLink="/Admin/{{routeid}}/Users">Users</a></li>
            <li class="font"><a routerLink="/Admin/{{routeid}}/Admins">Admins</a></li>
            <li class="font"><a routerLink="/Admin/{{routeid}}/Teachers">Teachers</a></li>
            <li class="font"><a routerLink="/Admin/{{routeid}}/Students">Students</a></li>
            <li class="font"><a routerLink="/Admin/{{routeid}}/Categories">Categories</a></li>
            <li class="font"><a routerLink="/Admin/{{routeid}}/Courses">Courses</a></li>
            <li class="font"><a routerLink="/Admin/{{routeid}}/Sections">Sections</a></li>
            <li class="font"><a routerLink="/Admin/{{routeid}}/Articles">Articles</a></li>
            <li class="font"><a routerLink="/Admin/{{routeid}}/News">News</a></li>
        </ul>
    </nav>
</div>