<footer class="site-footer">
    <div class="wrapper">
        <div class="upper-div">
            <div class="left">
                <a href="/Home/Main" class="site-logo">
                    <div class="nullref">
                        <img src="https://cdn-icons-png.flaticon.com/128/9812/9812340.png" alt="" style="width: 30px; height: 30px;">
                        <img src="https://cdn-icons-png.flaticon.com/128/9812/9812347.png" alt="" style="width: 30px; height: 30px;">
                        <img src="https://cdn-icons-png.flaticon.com/128/9812/9812338.png" alt="" style="width: 30px; height: 30px;">
                        <img src="https://cdn-icons-png.flaticon.com/128/9812/9812338.png" alt="" style="width: 30px; height: 30px;">
                        <img src="https://cdn-icons-png.flaticon.com/128/9812/9812344.png" alt="" style="width: 30px; height: 30px; margin-left: 1rem;">
                        <img src="https://cdn-icons-png.flaticon.com/128/9812/9812331.png" alt="" style="width: 30px; height: 30px;">
                        <img src="https://cdn-icons-png.flaticon.com/128/9812/9812332.png" alt="" style="width: 30px; height: 30px;">
                    </div>
                    <div class="academy">
                        <img src="https://cdn-icons-png.flaticon.com/128/9812/9812327.png" alt="" style="width: 30px; height: 30px;">
                        <img src="https://cdn-icons-png.flaticon.com/128/9812/9812329.png" alt="" style="width: 30px; height: 30px;">
                        <img src="https://cdn-icons-png.flaticon.com/128/9812/9812327.png" alt="" style="width: 30px; height: 30px;">
                        <img src="https://cdn-icons-png.flaticon.com/128/9812/9812330.png" alt="" style="width: 30px; height: 30px;">
                        <img src="https://cdn-icons-png.flaticon.com/128/9812/9812331.png" alt="" style="width: 30px; height: 30px;">
                        <img src="https://cdn-icons-png.flaticon.com/128/9812/9812339.png" alt="" style="width: 30px; height: 30px;">
                        <img src="https://cdn-icons-png.flaticon.com/128/9812/9812351.png" alt="" style="width: 30px; height: 30px;">
                    </div>
    
                </a>
                <p class="caption first">Ready to start out courses?</p>
                <p class="caption">Our mission is to provide a free, <br /> world-class education to anyone, anywhere.</p>
                <p class="caption">Dev Academy is a 501(c)(3) nonprofit organization. <br /> <a href="">Donate</a> or <a href="https://github.com/georgianastasov">Volunteer</a> today!</p>
            </div>
            <div class="right">
                <p class="caption">Information</p>
                <p class="info">NullRef Academy's goal is to fully develop your qualities and abilities as a software developer who thinks analytically and has a large set of skills. If you have any questions contact us or join our community.</p>
                <ul class="socials">
                    <li class="item"><a href="https://www.facebook.com/georgiaanastasov/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="item"><a href="https://github.com/georgianastasov" target="_blank"><i class="fab fa-github"></i></a></li>
                    <li class="item"><a href="https://www.linkedin.com/in/georgi-anastasov-97a733240/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                    <li class="item"><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="lowwer-div">
            <p>All Rights Reserved. © 2023 NullRef Academy</p>
            <a href="">Terms of use</a>
            <a href="">Privacy policy</a>
            <a href="">Cookie Notice</a>
        </div>
    </div>
</footer>