<div class="site-dashboard">
    <app-admin-navigation></app-admin-navigation>
    <div class="site-form">
        <form #form="ngForm" (ngSubmit)="onSubmit()">
            <div class="site-top">
                <p class="caption digital">Add News</p>
            </div>
            <div class="box-form">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <div class="box">
                        <label class="code">Title</label>
                        <input type="text" aria-required="true" name="title" [(ngModel)]="news.title"/>
                        <span class="validation code">Title must be longer than 2 letters.</span>
                    </div>
                    <div class="box">
                        <label class="code">Description</label>
                        <input type="text" aria-required="true" name="description" [(ngModel)]="news.description"/>
                        <span class="validation code">Description must be longer than 2 letters.</span>
                    </div>
                    <div class="box">
                        <label class="code">Text</label>
                        <input type="text" aria-required="true" name="text" [(ngModel)]="news.text" />
                        <span class="validation code">The text must be longer than 2 letters.</span>
                    </div>
                    <div class="box-buttons">
                        <button class="add font">Add</button>
                        <a class="font" routerLink="/Admin/{{routeid}}/News">Back</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>