<div class="site-dashboard">
    <app-admin-navigation></app-admin-navigation>
    <div class="site-form">
        <form #form="ngForm" (ngSubmit)="onSubmit()">
            <input asp-for="Id" hidden/>
            <div class="site-top">
                <p class="caption digital">Update Admin</p>
            </div>
            <div class="box-form">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <div class="box">
                        <label class="code">First Name<img src="https://cdn-icons-png.flaticon.com/128/8704/8704368.png" alt="required"></label>
                        <input type="text" value="{{takenAdmin.firstName}}" placeholder="First Name" name="firstName" [(ngModel)]="admin.firstName"
                            [class.input-error]="hasErrorFirstName && submited"
                            [class.input-valid]="!hasErrorFirstName && submited"/>
                        <span class="text-error code" *ngIf="hasErrorFirstNameRequired">First Name is required.</span>
                        <span class="text-error code" *ngIf="hasErrorFirstNameLength">First Name must be longer than 2 characters.</span>
                    </div>
                    <div class="box">
                        <label class="code">Last Name<img src="https://cdn-icons-png.flaticon.com/128/8704/8704368.png" alt="required"></label>
                        <input type="text" value="{{takenAdmin.lastName}}" placeholder="Last Name" name="lastName" [(ngModel)]="admin.lastName"
                            [class.input-error]="hasErrorLastName && submited"
                            [class.input-valid]="!hasErrorLastName && submited"/>
                        <span class="text-error code" *ngIf="hasErrorLastNameRequired">Last Name is required.</span>
                        <span class="text-error code" *ngIf="hasErrorLastNameLength">Last Name must be longer than 2 characters.</span>
                    </div>
                    <div class="box">
                        <label class="code">Username<img src="https://cdn-icons-png.flaticon.com/128/8704/8704368.png" alt="required"></label>
                        <input type="text" value="{{takenAdmin.username}}" placeholder="Username" name="username" [(ngModel)]="admin.username" 
                            [class.input-error]="hasErrorUsername && submited"
                            [class.input-valid]="!hasErrorUsername && submited"/>
                        <span class="text-error code" *ngIf="hasErrorUsernameRequired">Username is required.</span>
                        <span class="text-error code" *ngIf="hasErrorUsernameLength">Username must be longer than 5 characters.</span>
                    </div>
                    <div class="box">
                        <label class="code">Email<img src="https://cdn-icons-png.flaticon.com/128/8704/8704368.png" alt="required"></label>
                        <input type="text" value="{{takenAdmin.email}}" placeholder="Email" name="email" [(ngModel)]="admin.email"
                            [class.input-error]="hasErrorEmail && submited"
                            [class.input-valid]="!hasErrorEmail && submited"/>
                        <span class="text-error code" *ngIf="hasErrorEmailRequired">Email is required.</span>
                        <span class="text-error code" *ngIf="hasErrorEmailRegex">The email may be taken or not valid.</span>
                    </div>
                    <div class="box">
                        <label class="code">Account Type</label>
                        <input type="text" value="{{takenAdmin.accountType}}" [(ngModel)]="admin.accountType" disabled/>
                    </div>
                    <div class="box">
                        <label class="code">Password<img src="https://cdn-icons-png.flaticon.com/128/8704/8704368.png" alt="required"></label>
                        <input #passwordInput type="text" value="{{takenAdmin.password}}" placeholder="Password" name="password" [(ngModel)]="admin.password" 
                            [class.input-error]="hasErrorPassword && submited"
                            [class.input-valid]="!hasErrorPassword && submited"/>
                        <span class="text-error code" *ngIf="hasErrorPassword">Password must start with uppercase letter and be longer than 5 symbols.</span>
                        <span class="text-error code" *ngIf="hasErrorPassword">Password must have digits.</span>
                    </div>
                    <div class="box">
                        <label class="code">Confirm Password<img src="https://cdn-icons-png.flaticon.com/128/8704/8704368.png" alt="required"></label>
                        <input #confirmPasswordInput type="text" value="{{takenAdmin.confirmPassword}}" placeholder="Confirm Password" name="confirmPassword" [(ngModel)]="admin.confirmPassword"
                            [class.input-error]="hasErrorConfirmPassword && submited"
                            [class.input-valid]="!hasErrorConfirmPassword && submited"/>
                        <span class="text-error code" *ngIf="hasErrorConfirmPasswordRequired">Confirm Password is required.</span>
                        <span class="text-error code" *ngIf="hasErrorConfirmPasswordNotSame">Enter the same password from the upper field.</span>
                    </div>
                    <div class="box">
                        <label class="code">Created Date</label>
                        <input type="text" value="{{takenAdmin.createdDate}}" [(ngModel)]="admin.createdDate" disabled/>
                    </div>
                    <div class="box">
                        <label class="code">Articles</label>
                        <textarea rows="10" cols="45" disabled>{{ articlesText }}</textarea>
                    </div>
                    <div class="box">
                        <label class="code">News</label>
                        <textarea rows="10" cols="45" disabled>{{ newsText }}</textarea>
                    </div>
                    <div class="box">
                        <label class="code">Categories</label>
                        <textarea type="text" rows="10" cols="45" disabled>{{ categoriesText }}</textarea>
                    </div>
                    <div class="box">
                        <label class="code">Courses</label>
                        <textarea type="text" rows="10" cols="45" disabled>{{ coursesText }}</textarea>
                    </div>
                    <div class="box">
                        <label class="code">Sections</label>
                        <textarea type="text" rows="10" cols="45" disabled>{{ sectionsText }}</textarea>
                    </div>
                    <div class="box-buttons">
                        <button class="update font">Update</button>
                        <a class="font" routerLink="/Admin/{{routeid}}/Admins">Back</a>
                    </div>
                </div>
            </div>
        </form>
     </div>
</div>