<app-teacher-header></app-teacher-header>
<div id="box-profile-boxx" class="top-boxx" *ngIf="showEdit">
    <form #form="ngForm" (ngSubmit)="onSubmitProfile()">
        <input asp-for="Id" hidden />
        <div class="box-form">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <div class="box">
                    <label class="code">First Name</label>
                    <input type="text" value="{{teacher.firstName}}" name="firstName" [(ngModel)]="editTeacher.firstName"/>
                    <span class="validation code">First Name must be longer than 2 letters.</span>
                </div>
                <div class="box">
                    <label class="code">Last Name</label>
                    <input type="text" value="{{teacher.lastName}}" name="lastName" [(ngModel)]="editTeacher.lastName"/>
                    <span class="validation code">Last Name must be longer than 2 letters.</span>
                </div>
                <div class="box">
                    <label class="code">Username</label>
                    <input type="text" value="{{teacher.username}}" name="username" [(ngModel)]="editTeacher.username" />
                    <span class="validation code">Username must be longer than 5 letters.</span>
                </div>
                <div class="box-buttons">
                    <button class="update font">Update</button>
                    <button class="back font" (click)="hideEditt()">Back</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="acount-dashboard-teacher">
    <div class="wrapper">
        <div class="left">
            <div class="left-links">
                <p class="digital">Wellcome, <a class="username" href="/Teacher/{{routeid}}/Dashboard">{{teacher.username}}</a></p>
                <p class="info code">Teacher dashboard</p>
            </div>
        </div>
        <div class="right">
            <a class="btn code" (click)="showEditt()">Edit profile</a>
            <p class="score code"><img src="https://cdn-icons-png.flaticon.com/128/5415/5415390.png" alt="category">Categories: {{countCategories}}</p>
            <p class="score code"><img src="https://cdn-icons-png.flaticon.com/128/9387/9387582.png" alt="course">Courses: {{countCourses}}</p>
            <p class="score code"><img src="https://cdn-icons-png.flaticon.com/128/6348/6348026.png" alt="section">Sections: {{countSections}}</p>
            <p class="score code"><img src="https://cdn-icons-png.flaticon.com/128/4228/4228952.png" alt="section">Articles: {{countArticles}}</p>
        </div>
    </div>
</div>
<div class="teacher-menu">
    <div class="wrapper">
        <a class="code" (click)="showCategoriess()">Categories</a>
        <a class="code" (click)="showCoursess()">Courses</a>
        <a class="code" (click)="showSectionss()">Sections</a>
        <a class="code" (click)="showArticles()">Articles</a>
        <a class="code" (click)="showStudentss()">Students</a>
        <a class="code" (click)="showUserss()">Users</a>
        <a class="code" (click)="showProfilee()">Profile</a>
    </div>
</div>
<div class="teacher-dashboard">
    <div class="wrapper">
        <div id="teacher-categories" class="downn down-categories" *ngIf="showCategories">
            <div class="top-top">
                <p class="titlee code">My categories</p>
                <a class="btncreate font" routerLink="/Teacher/{{routeid}}/Add/Category">Create category</a>
            </div>
            <ng-container *ngFor="let category of categories">
                <ng-container *ngIf="category.teacherID != null">
                    <ng-container *ngIf="category.teacherID == routeid">
                        <div class="box">
                            <div class="icon">
                                <ng-container *ngIf="category.title == 'Math'">
                                    <img src="https://cdn-icons-png.flaticon.com/128/3771/3771278.png" alt="math">
                                </ng-container>
                                <ng-container *ngIf="category.title == 'Science'">
                                    <img src="https://cdn-icons-png.flaticon.com/128/3655/3655580.png" alt="science">
                                </ng-container>
                                <ng-container *ngIf="category.title == 'Informatics'">
                                    <img src="https://cdn-icons-png.flaticon.com/128/6062/6062646.png" alt="informatics">
                                </ng-container>
                                <ng-container *ngIf="category.title == 'Software Development'">
                                    <img src="https://cdn-icons-png.flaticon.com/128/1316/1316740.png" alt="software development">
                                </ng-container>
                                <ng-container *ngIf="category.title == 'Software Technologies'">
                                    <img src="https://cdn-icons-png.flaticon.com/128/644/644667.png" alt="software technologies">
                                </ng-container>
                                <ng-container *ngIf="category.title == 'Web Applications'">
                                    <img src="https://cdn-icons-png.flaticon.com/128/5044/5044729.png" alt="web applications">
                                </ng-container>
                                <ng-container *ngIf="category.title == 'Mobile Development'">
                                    <img src="https://cdn-icons-png.flaticon.com/128/2586/2586488.png" alt="mobile development">
                                </ng-container>
                                <ng-container *ngIf="category.title == 'Physics'">
                                    <img src="https://cdn-icons-png.flaticon.com/128/6813/6813708.png" alt="physics">
                                </ng-container>
                                <ng-container *ngIf="category.title == 'Creativity'">
                                    <img src="https://cdn-icons-png.flaticon.com/128/3749/3749896.png" alt="creativity">
                                </ng-container>
                                <ng-container *ngIf="category.title == 'Art'">
                                    <img src="https://cdn-icons-png.flaticon.com/128/2400/2400603.png" alt="art">
                                </ng-container>
                                <ng-container *ngIf="category.title == 'Marketing'">
                                    <img src="https://cdn-icons-png.flaticon.com/128/1998/1998087.png" alt="marketing">
                                </ng-container>
                                <ng-container *ngIf="category.title == 'Self Development'">
                                    <img src="https://cdn-icons-png.flaticon.com/128/10068/10068898.png" alt="self development">
                                </ng-container>
                            </div>
                            <div class="leftt">
                                <div class="top">
                                    <div class="left">
                                        <p class="title digital"><strong>Title:</strong> {{category.title}}</p>
                                    </div>
                                </div>
                                <div class="middle">
                                    <p class="description code"><strong>Description:</strong> {{category.description}}</p>
                                </div>
                                <div class="down">
                                    <ng-container *ngIf="hasCoursesInCategory">
                                        <p class="courses code"><strong>Courses:</strong> {{countCoursesInCategory}}</p>
                                    </ng-container>
                                    <ng-container *ngIf="!hasCoursesInCategory">
                                        <p class="courses code">No courses in this category yet.</p>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="rightt">
                                <a class="btn update font" routerLink="/Teacher/{{routeid}}/Update/Category/{{category.id}}">Update</a>
                                <a class="btn delete font" routerLink="/Teacher/{{routeid}}/Delete/Category/{{category.id}}">Delete</a>
                                <a class="btn preview font" routerLink="/Teacher/{{routeid}}/Category/{{category.id}}">Preview</a>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="!hasCreatedCategories">
                <p class="no code">No created categories at this moment.</p>
            </ng-container>
        </div>
        <div id="teacher-courses" class="downn down-courses" *ngIf="showCourses">
            <div class="top-top">
                <p class="titlee code">My courses</p>
                <a class="btncreate font" routerLink="/Teacher/{{routeid}}/Add/Course">Create course</a>
            </div>
            <ng-container *ngFor="let course of courses">
                <ng-container *ngIf="course.teacherID != null">
                    <ng-container *ngIf="course.teacherID == routeid">
                        <div class="box">
                            <div class="icon">
                                <ng-container *ngFor="let category of categories">
                                    <ng-container *ngIf="category.id == course.categoryID">
                                        <ng-container *ngIf="category.title == 'Math'">
                                            <img src="https://cdn-icons-png.flaticon.com/128/3771/3771278.png" alt="math">
                                        </ng-container>
                                        <ng-container *ngIf="category.title == 'Science'">
                                            <img src="https://cdn-icons-png.flaticon.com/128/3655/3655580.png" alt="science">
                                        </ng-container>
                                        <ng-container *ngIf="category.title == 'Informatics'">
                                            <img src="https://cdn-icons-png.flaticon.com/128/6062/6062646.png" alt="informatics">
                                        </ng-container>
                                        <ng-container *ngIf="category.title == 'Software Development'">
                                            <img src="https://cdn-icons-png.flaticon.com/128/1316/1316740.png" alt="software development">
                                        </ng-container>
                                        <ng-container *ngIf="category.title == 'Software Technologies'">
                                            <img src="https://cdn-icons-png.flaticon.com/128/644/644667.png" alt="software technologies">
                                        </ng-container>
                                        <ng-container *ngIf="category.title == 'Web Applications'">
                                            <img src="https://cdn-icons-png.flaticon.com/128/5044/5044729.png" alt="web applications">
                                        </ng-container>
                                        <ng-container *ngIf="category.title == 'Mobile Development'">
                                            <img src="https://cdn-icons-png.flaticon.com/128/2586/2586488.png" alt="mobile development">
                                        </ng-container>
                                        <ng-container *ngIf="category.title == 'Physics'">
                                            <img src="https://cdn-icons-png.flaticon.com/128/6813/6813708.png" alt="physics">
                                        </ng-container>
                                        <ng-container *ngIf="category.title == 'Creativity'">
                                            <img src="https://cdn-icons-png.flaticon.com/128/3749/3749896.png" alt="creativity">
                                        </ng-container>
                                        <ng-container *ngIf="category.title == 'Art'">
                                            <img src="https://cdn-icons-png.flaticon.com/128/2400/2400603.png" alt="art">
                                        </ng-container>
                                        <ng-container *ngIf="category.title == 'Marketing'">
                                            <img src="https://cdn-icons-png.flaticon.com/128/1998/1998087.png" alt="marketing">
                                        </ng-container>
                                        <ng-container *ngIf="category.title == 'Self Development'">
                                            <img src="https://cdn-icons-png.flaticon.com/128/10068/10068898.png" alt="self development">
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </div>
                            <div class="leftt">
                                <div class="top">
                                    <div class="left">
                                        <ng-container *ngFor="let category of categories">
                                            <ng-container *ngIf="course.categoryID == category.id">
                                                <p class="category code">Category: <strong>{{category.title}}</strong></p>
                                            </ng-container>
                                        </ng-container>
                                        <p class="title digital"><strong>Title:</strong> {{course.title}}</p>
                                    </div>
                                </div>
                                <div class="middle">
                                    <p class="description code"><strong>Description:</strong> {{course.description}}</p>
                                </div>
                            </div>
                            <div class="infoo">
                                <p class="info code">Sections: <strong>{{countSectionss(course.id)}}</strong></p>
                                <p class="info code">Students: <strong>{{countStudentss(course)}}</strong></p>
                                <p class="info code">Points: <strong>{{course.points}}</strong></p>
                                <p class="info code">Raiting: <strong>{{course.rating}}</strong></p>
                                <p class="info code">Users Rate: <strong>{{course.ratingQty}}</strong></p>
                            </div>
                            <div class="rightt">
                                <a class="btn update font" routerLink="/Teacher/{{routeid}}/Update/Course/{{course.id}}">Update</a>
                                <a class="btn delete font" routerLink="/Teacher/{{routeid}}/Delete/Course/{{course.id}}">Delete</a>
                                <a class="btn preview font" routerLink="/Teacher/{{routeid}}/Course/{{course.id}}">Preview</a>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="!hasCreatedCourses">
                <p class="no code">No created courses at this moment.</p>
            </ng-container>
        </div>
        <div id="teacher-sections" class="downn down-sections" *ngIf="showSections">
            <div class="top-top">
                <p class="titlee code">My sections</p>
                <a class="btncreate font" routerLink="/Teacher/{{routeid}}/Add/Section">Create section</a>
            </div>
            <ng-container *ngFor="let section of sections">
                <ng-container *ngIf="section.teacherID != null">
                    <ng-container *ngIf="section.teacherID == routeid">
                        <div class="box">
                            <div class="icon">
                                <ng-container *ngFor="let category of categories">
                                    <ng-container *ngFor="let course of courses">
                                        <ng-container *ngIf="section.courseID == course.id">
                                            <ng-container *ngIf="category.id == course.categoryID">
                                                <ng-container *ngIf="category.title == 'Math'">
                                                    <img src="https://cdn-icons-png.flaticon.com/128/3771/3771278.png" alt="math">
                                                </ng-container>
                                                <ng-container *ngIf="category.title == 'Science'">
                                                    <img src="https://cdn-icons-png.flaticon.com/128/3655/3655580.png" alt="science">
                                                </ng-container>
                                                <ng-container *ngIf="category.title == 'Informatics'">
                                                    <img src="https://cdn-icons-png.flaticon.com/128/6062/6062646.png" alt="informatics">
                                                </ng-container>
                                                <ng-container *ngIf="category.title == 'Software Development'">
                                                    <img src="https://cdn-icons-png.flaticon.com/128/1316/1316740.png" alt="software development">
                                                </ng-container>
                                                <ng-container *ngIf="category.title == 'Software Technologies'">
                                                    <img src="https://cdn-icons-png.flaticon.com/128/644/644667.png" alt="software technologies">
                                                </ng-container>
                                                <ng-container *ngIf="category.title == 'Web Applications'">
                                                    <img src="https://cdn-icons-png.flaticon.com/128/5044/5044729.png" alt="web applications">
                                                </ng-container>
                                                <ng-container *ngIf="category.title == 'Mobile Development'">
                                                    <img src="https://cdn-icons-png.flaticon.com/128/2586/2586488.png" alt="mobile development">
                                                </ng-container>
                                                <ng-container *ngIf="category.title == 'Physics'">
                                                    <img src="https://cdn-icons-png.flaticon.com/128/6813/6813708.png" alt="physics">
                                                </ng-container>
                                                <ng-container *ngIf="category.title == 'Creativity'">
                                                    <img src="https://cdn-icons-png.flaticon.com/128/3749/3749896.png" alt="creativity">
                                                </ng-container>
                                                <ng-container *ngIf="category.title == 'Art'">
                                                    <img src="https://cdn-icons-png.flaticon.com/128/2400/2400603.png" alt="art">
                                                </ng-container>
                                                <ng-container *ngIf="category.title == 'Marketing'">
                                                    <img src="https://cdn-icons-png.flaticon.com/128/1998/1998087.png" alt="marketing">
                                                </ng-container>
                                                <ng-container *ngIf="category.title == 'Self Development'">
                                                    <img src="https://cdn-icons-png.flaticon.com/128/10068/10068898.png" alt="self development">
                                                </ng-container>
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </div>
                            <div class="leftt">
                                <div class="top">
                                    <div class="left">
                                        <ng-container *ngFor="let course of courses">
                                            <ng-container *ngIf="section.courseID == course.id">
                                                <p class="course code">Course: <strong>{{course.title}}</strong></p>
                                            </ng-container>
                                        </ng-container>
                                        <p class="title digital"><strong>Title:</strong> {{section.title}}</p>
                                    </div>
                                </div>
                                <div class="middle">
                                    <p class="description code"><strong>Description:</strong> {{section.description}}</p>
                                </div>
                            </div>
                            <div class="rightt">
                                <a class="btn update font" routerLink="/Teacher/{{routeid}}/Update/Section/{{section.id}}">Update</a>
                                <a class="btn delete font" routerLink="/Teacher/{{routeid}}/Delete/Section/{{section.id}}">Delete</a>
                                <a class="btn preview font" routerLink="/Teacher/{{routeid}}/Section/{{sectionCourse[section.id]}}">Preview</a>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="!hasCreatedSections">
                <p class="no code">No created sections at this moment.</p>
            </ng-container>
        </div>
        <div id="teacher-article" class="downn down-articles" *ngIf="showArticless">
            <div class="top-top">
                <p class="titlee code">My articles</p>
                <a class="btncreate font" routerLink="/Teacher/{{routeid}}/Add/Article">Create article</a>
            </div>
            <ng-container *ngFor="let article of articles">
                <ng-container *ngIf="article.teacherID != null">
                    <ng-container *ngIf="article.teacherID == routeid">
                        <div class="box">
                            <div class="icon">
                                <img src="https://cdn-icons-png.flaticon.com/128/4228/4228952.png" alt="articles">
                            </div>
                            <div class="leftt">
                                <div class="top">
                                    <div class="left">
                                        <p class="date code"><strong>Date:</strong> {{article.createdDate}}</p>
                                        <p class="title digital"><strong>Title:</strong> {{article.title}}</p>
                                    </div>
                                </div>
                                <div class="middle">
                                    <p class="description code"><strong>Description:</strong> {{article.description}}</p>
                                </div>
                                <div class="middle">
                                    <p class="users code">Users: <strong>{{countUsers}}</strong></p>
                                </div>
                            </div>
                            <div class="rightt">
                                <a class="btn update font" routerLink="/Teacher/{{routeid}}/Update/Article/{{article.id}}">Update</a>
                                <a class="btn delete font" routerLink="/Teacher/{{routeid}}/Delete/Article/{{article.id}}">Delete</a>
                                <a class="btn preview font" routerLink="/Teacher/{{routeid}}/Article/{{article.id}}">Preview</a>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="!hasCreatedCourses">
                <p class="no code">No created articles at this moment.</p>
            </ng-container>
        </div>
        <div id="teacher-students" class="downn down-students" *ngIf="showStudents">
            <p class="titlee code">My students</p>
            <ng-container *ngIf="teacherStudents.length != null || teacherStudents.length > 0 || teacherStudents.length != 0">
                <ng-container *ngFor="let teacherStudent of teacherStudents">
                    <div class="box">
                        <div class="up">
                            <p class="cap code">Student</p>
                            <p class="name code"><strong>Name:</strong> {{teacherStudent.firstName}} {{teacherStudent.lastName}}</p>
                            <p class="name code"><strong>Email:</strong> {{teacherStudent.email}}</p>
                        </div>
                        <div class="middle">
                            <p class="bio code" *ngIf="teacherStudent.bio != 'initial'"><strong>Bio:</strong> {{teacherStudent.bio}}</p>
                            <p class="bio code" *ngIf="teacherStudent.bio == 'initial'"><strong>Bio:</strong>no bio</p>
                        </div>
                        <div class="predown">
                            <p class="username digital"><strong>Username:</strong> {{teacherStudent.username}}</p>
                            <p class="points code"><strong>Points:</strong> {{teacherStudent.points}}</p>
                        </div>
                        <div class="down">
                            <p class="courses code"><strong>Courses enrolled:</strong> {{teacherStudent.courseCount}}</p>
                        </div>
                        <p class="btnbox font"><a class="btn preview" routerLink="/Teacher/{{routeid}}/Profile/Student/{{teacherStudent.id}}">View Profile</a></p>
                    </div>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="teacherStudents.length == null || teacherStudents.length == 0">
                <p class="no code">No students enrolled in you courses at this moment.</p>
            </ng-container>
        </div>
        <div id="teacher-users" class="downn down-students" *ngIf="showUsers">
            <p class="titlee code">Users</p>
        </div>
        <div id="teacher-profile" class="downn down-profile" *ngIf="showProfile">
            <p class="titlee code">My profile</p>
            <div class="info-box">
                <div class="up">
                    <p class="cap code">Information</p>
                    <p class="desc code"><img src="https://cdn-icons-png.flaticon.com/128/471/471587.png" alt="profile">Profile</p>
                </div>
                <div class="down">
                    <p class="cap code">User statistic</p>
                    <div class="box">
                        <p class="info-left code">Date joined</p>
                        <p class="info-right code">{{teacher.createdDate}}</p>
                    </div>
                    <div class="box">
                        <p class="info-left code">Created categories</p>
                        <p class="info-right code">{{countCategories}}</p>
                    </div>
                    <div class="box">
                        <p class="info-left code">Created courses</p>
                        <p class="info-right code">{{countCourses}}</p>
                    </div>
                    <div class="box">
                        <p class="info-left code">Created sections</p>
                        <p class="info-right code">{{countSections}}</p>
                    </div>
                    <div class="box">
                        <p class="info-left code">Created articles</p>
                        <p class="info-right code">{{countArticles}}</p>
                    </div>
                    <div class="box">
                        <p class="info-left code">Students enrolled in your courses</p>
                        <ng-container *ngIf="hasStudentsInCourses">
                            <p class="info-right code">{{countStudents}}</p>
                        </ng-container>
                        <ng-container *ngIf="!hasStudentsInCourses">
                            <p class="info-right code">0</p>
                        </ng-container>
                    </div>
                    <div class="box">
                        <p class="info-left code">Users readed your articles</p>
                        <p class="info-right code">{{countUsers}}</p>
                    </div>
                    <div class="box">
                        <p class="info-left code">Articles enrolled</p>
                        <ng-container *ngIf="enrolledArticles.length != null">
                            <p class="info-right code">{{enrolledArticles.length}}</p>
                        </ng-container>
                        <ng-container *ngIf="enrolledArticles.length == null">
                            <p class="info-right code">0</p>
                        </ng-container>
                    </div>
                    <div class="box">
                        <p class="info-left code">Articles completed</p>
                        <p class="info-right code">{{counterArticles}}</p>
                    </div>
                    <div class="box">
                        <p class="info-left code">News enrolled</p>
                        <ng-container *ngIf="enrolledNews.length != null">
                            <p class="info-right code">{{enrolledNews.length}}</p>
                        </ng-container>
                        <ng-container *ngIf="enrolledNews.length == null">
                            <p class="info-right code">0</p>
                        </ng-container>
                    </div>
                    <div class="box">
                        <p class="info-left code">News completed</p>
                        <p class="info-right code">{{counterNews}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-teacher-footer></app-teacher-footer>