<app-teacher-header></app-teacher-header>
<div class="intro-news-enroll">
    <div class="wrapper">
        <ng-container *ngFor="let news of newss">
            <ng-container *ngIf="news.id == newsid">
                <p class="cap digital"><a routerLink="/Teacher/{{routeid}}/AllNews">Article: <strong>{{news.title}}</strong></a></p>
            </ng-container>
        </ng-container>
    </div>
</div>
<div class="info-news-enroll">
    <div class="wrapper">
        <div class="main">
            <ng-container *ngFor="let news of newss">
                <ng-container *ngIf="news.id == newsid">
                    <div class="up">
                        <p class="title digital">Title: {{news.title}}</p>
                        <p class="date code">Date: {{news.createdDate}}</p>
                        <p class="description code">Description: {{news.title}}</p>
                    </div>
                </ng-container>
            </ng-container>
            <ng-container *ngFor="let news of newss">
                <ng-container *ngIf="news.id == newsid">
                    <div class="box">
                        <div class="up">
                            <p class="section-title code">Information</p>
                        </div>
                        <div class="down">
                            <p class="description code">From {{news.createdDate}}</p>
                        </div>
                        <div class="down-down">
                            <p class="text">{{news.text}}</p>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </div>
        <div class="additions">
            <ng-container *ngIf="!rated">
                <div class="rate">
                    <p class="tup code">Rating</p>
                    <label for="rating" class="code">Stars:</label>
                    <select #select name="rating" id="rating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <img src="https://cdn-icons-png.flaticon.com/128/477/477406.png" alt="star">
                    <a class="font" (click)="rateNews(select.value)">Rate</a>
                </div>
            </ng-container>
            <ng-container *ngIf="rated">
                <div class="rate">
                    <p class="tup code">Rating:</p>
                    <ng-container *ngFor="let news of newss">
                        <ng-container *ngIf="news.id == newsid">
                            <ng-container *ngFor="let star of countStars(news)">
                                <img src="https://cdn-icons-png.flaticon.com/128/477/477406.png" alt="star">
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </div>
            </ng-container>
            <div class="agenda">
                <p class="cap code">News:</p>
                <ng-container *ngFor="let news of newss">
                    <p class="count code"><a href="/Teacher/{{routeid}}/News/{{news.id}}">{{news.title}}</a></p>
                </ng-container>
            </div>
        </div>
        <div class="under">
            <p><a class="donebtn font" *ngIf="!finish" routerLink="/Teacher/{{routeid}}/Dashboard">Go to dashboard</a></p>
            <p><a class="finish font" *ngIf="finish" (click)="finishCourse()">Finish</a></p>
        </div>
    </div>
</div>
<app-teacher-footer></app-teacher-footer>