<app-student-header></app-student-header>
<div class="intro-categories">
    <div class="wrapper">
        <p class="cap digital">Categories</p>
    </div>
</div>
<div class="info-categories">
    <div class="wrapper">
        <ng-container *ngFor="let category of categories">
            <div class="box">
                <div class="left">
                    <ng-container *ngIf="category.title == 'Math'">
                        <a routerLink="/Student/{{routeid}}/Category/{{category.id}}"><img src="https://cdn-icons-png.flaticon.com/128/3771/3771278.png" alt="math"></a>
                    </ng-container>
                    <ng-container *ngIf="category.title == 'Science'">
                        <a routerLink="/Student/{{routeid}}/Category/{{category.id}}"><img src="https://cdn-icons-png.flaticon.com/128/3655/3655580.png" alt="science"></a>
                    </ng-container>
                    <ng-container *ngIf="category.title == 'Informatics'">
                        <a routerLink="/Student/{{routeid}}/Category/{{category.id}}"><img src="https://cdn-icons-png.flaticon.com/128/6062/6062646.png" alt="informatics"></a>
                    </ng-container>
                    <ng-container *ngIf="category.title == 'Software Development'">
                        <a routerLink="/Student/{{routeid}}/Category/{{category.id}}"><img src="https://cdn-icons-png.flaticon.com/128/1316/1316740.png" alt="software development"></a>
                    </ng-container>
                    <ng-container *ngIf="category.title == 'Software Technologies'">
                        <a routerLink="/Student/{{routeid}}/Category/{{category.id}}"><img src="https://cdn-icons-png.flaticon.com/128/644/644667.png" alt="software technologies"></a>
                    </ng-container>
                    <ng-container *ngIf="category.title == 'Web Applications'">
                        <a routerLink="/Student/{{routeid}}/Category/{{category.id}}"><img src="https://cdn-icons-png.flaticon.com/128/5044/5044729.png" alt="web applications"></a>
                    </ng-container>
                    <ng-container *ngIf="category.title == 'Mobile Development'">
                        <a routerLink="/Student/{{routeid}}/Category/{{category.id}}"><img src="https://cdn-icons-png.flaticon.com/128/2586/2586488.png" alt="mobile development"></a>
                    </ng-container>
                    <ng-container *ngIf="category.title == 'Physics'">
                        <a routerLink="/Student/{{routeid}}/Category/{{category.id}}"><img src="https://cdn-icons-png.flaticon.com/128/6813/6813708.png" alt="physics"></a>
                    </ng-container>
                    <ng-container *ngIf="category.title == 'Creativity'">
                        <a routerLink="/Student/{{routeid}}/Category/{{category.id}}"><img src="https://cdn-icons-png.flaticon.com/128/3749/3749896.png" alt="creativity"></a>
                    </ng-container>
                    <ng-container *ngIf="category.title == 'Art'">
                        <a routerLink="/Student/{{routeid}}/Category/{{category.id}}"><img src="https://cdn-icons-png.flaticon.com/128/2400/2400603.png" alt="art"></a>
                    </ng-container>
                    <ng-container *ngIf="category.title == 'Marketing'">
                        <a routerLink="/Student/{{routeid}}/Category/{{category.id}}"><img src="https://cdn-icons-png.flaticon.com/128/1998/1998087.png" alt="marketing"></a>
                    </ng-container>
                    <ng-container *ngIf="category.title == 'Self Development'">
                        <a routerLink="/Student/{{routeid}}/Category/{{category.id}}"><img src="https://cdn-icons-png.flaticon.com/128/10068/10068898.png" alt="self development"></a>
                    </ng-container>
                </div>
                <div class="right">
                    <p class="title digital"><a routerLink="/Student/{{routeid}}/Category/{{category.id}}">Title: <strong>{{category.title}}</strong></a></p>
                    <p class="description code">Description: <strong>{{category.description}}</strong></p>
                    <p class="info code">Courses: <strong>{{countCourses(category.id)}}</strong></p>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="categories.length == null || categories.length == 0">
            <p class="no code">No categories at this moment.</p>
        </ng-container>
    </div>
</div>
<app-student-footer></app-student-footer>