.about-info {
    padding: 4rem 2rem 5rem 2rem;
}

.about-info .wrapper {
    width: 55vw;
}

.about-info .title{
    color: #222534;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.3rem;
}

.about-info .text{
    font-size: 0.9rem;
    color: dimgray;
}
