<app-student-header></app-student-header>
<div class="contact-intro">
    <div class="wrapper">
        <div class="contact-caption">
            <p class="intro digital">How can we help?</p>
        </div>
    </div>
</div>
<div class="contact-line">
</div>
<div class="contact-info">
    <div class="wrapper">
        <div class="box">
            <img src="https://cdn-icons-png.flaticon.com/128/8713/8713576.png" alt="bug">
            <a class="upper digital" href="">Bugs and troubleshooting</a>
            <p class="lowwer code">Find information and workarounds for technical issues</p>
        </div>
        <div class="box">
            <img src="https://cdn-icons-png.flaticon.com/128/5726/5726775.png" alt="question">
            <a class="upper digital" href="">Frequently asked questions</a>
            <p class="lowwer code">Common questions and resourses about using Null Ref Academy</p>
        </div>
        <div class="box">
            <img src="https://cdn-icons-png.flaticon.com/128/3843/3843288.png" alt="community">
            <a class="upper digital" href="">Ask the community</a>
            <p class="lowwer code">Get tips, tricks and help from your fellow community members</p>
        </div>
        <div class="box">
            <img src="https://cdn-icons-png.flaticon.com/128/2471/2471007.png" alt="guide">
            <a class="upper digital" href="">Learners</a>
            <p class="lowwer code">Guides and resources for learners and students</p>
        </div>
        <div class="box">
            <img src="https://cdn-icons-png.flaticon.com/128/4483/4483283.png" alt="resource">
            <a class="upper digital" href="">Teachers and coaches</a>
            <p class="lowwer code">Guides and resources for teachers and coaches</p>
        </div>
        <div class="box">
            <img src="https://cdn-icons-png.flaticon.com/128/1000/1000389.png" alt="call">
            <a class="upper digital" href="">Help center</a>
            <p class="lowwer code">Call us for eceryting and get help</p>
        </div>
    </div>
</div>
<div class="contact-center">
    <div class="wrapper">
        <div class="intro">
            <p class="title digital">Help Center</p>
            <p class="date code">Updated 1 day ago</p>
            <p class="sub code">If you are a learner, teacher, parent or administrator, please contact our support team.</p>
        </div>
        <div class="center">
            <p class="caption digital">What's new</p>
            <ul>
                <li class="code">We've partnered with more than 280 school districts across the United States</li>
                <li class="code">District partners include Brown County Schools in Indiana, YES Prep Public Schools in Houston, Hartford Public Schools, Madera Unified School District and Omaha Public Schools</li>
                <li class="code">Our district offerings are Null Ref Academy Districts and MAP Accelerator, developed with NWEA</li>
                <li class="code">Across district partners, 66% of students qualify for free and reduced-price lunch</li>
            </ul>
            <p class="caption digital">About Null Ref Academy</p>
            <ul>
                <li class="code">We’re a nonprofit educational organization</li>
                <li class="code">Our focus is supporting students from low-income communities and students of color</li>
                <li class="code">We offer free lessons in math, science and humanities</li>
                <li class="code">Null Ref Academy is available in 51 languages, including Spanish</li>
                <li class="code">Our platform includes practice problems, videos, articles and quizzes </li>
                <li class="code">We offer free tools for teachers and parents to track student progress</li>
                <li class="code">Null Ref Academy is used in more than 190 countries</li>
                <li class="code">More than 130 million registered users</li>
            </ul>
            <p class="caption digital">Null Ref Academy Contacts</p>
            <ul>
                <li class="code"><img src="https://cdn-icons-png.flaticon.com/128/1692/1692037.png" alt="location"><strong>Address:</strong> Studentski grad, Sofia, 13</li>
                <li class="code"><img src="https://cdn-icons-png.flaticon.com/128/2482/2482985.png" alt="phone"><strong>Phone:</strong> +359 359 359 359</li>
                <li class="code"><img src="https://cdn-icons-png.flaticon.com/128/6476/6476299.png" alt="ceo"><strong>CEO:</strong> Georgi Anastasov</li>
                <li class="code"><img src="https://cdn-icons-png.flaticon.com/128/4940/4940625.png" alt="email"><strong>Email:</strong> nullrefacademy@gmail.com</li>
            </ul>
        </div>
    </div>
</div>
<app-student-footer></app-student-footer>