.site-right .site-top .caption {
    margin-left: 1rem;
}

.site-right .box-form {
    padding: 0.5rem 1rem;
}

.site-right .box-form .box{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}

.site-right .box-form .box label{
    flex-basis: 100%;
    margin-bottom: 0.2rem;
    font-size: 1.1rem;
}

.site-right .box-form .box input{
    padding: 0.3rem;
    font-size: 1.1rem;
}

.site-right .box-form .box textarea{
    padding: 0.3rem;
    font-size: 1rem;
}

.site-right .box-form .box select {
    display: block;
    background-color: #e3e3e3;
    border: none;
    padding: 12px 10px;
    margin: 8px 0;
    width: 50%;
    font-size: 1rem;
}

.site-right .box-form .box span{
    flex-basis:100%;
    color: black;
    font-size: 0.7rem;
}

.site-right .box-form .box-buttons input{
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    background-color: green;
    font-size: 1rem;
    color: white;
    border-radius: 0.4rem;
}

.site-right .box-form .box-buttons button{
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: white;
    border-radius: 0.4rem;
}

.site-right .box-form .box-buttons .add{
    background-color: green;
}

.site-right .box-form .box-buttons .delete{
    background-color: red;
}

.site-right .box-form .box-buttons .update{
    background-color: orange;
}

.site-right .box-form .box-buttons a{
    display: inline-block;
    padding: 0.4rem 1rem;
    border: none;
    cursor: pointer;
    background-color: blue;
    font-size: 1rem;
    color: white;
    border-radius: 0.4rem;
    text-decoration: none;
    margin-top: 0.2rem;
    margin-left: 0.4rem;
}