<app-teacher-header></app-teacher-header>
<div class="intro-courses">
    <div class="wrapper">
        <p class="cap">All News</p>
    </div>
</div>
<div class="info-courses">
    <div class="wrapper">
        <ng-container *ngFor="let news of newss">
            <div class="box">
                <div class="left">
                    <a routerLink="/Teacher/{{routeid}}/Article/{{news.id}}"><img src="https://cdn-icons-png.flaticon.com/128/2965/2965879.png" alt="math"></a>
                </div>
                <div class="right">
                    <p class="title"><a routerLink="/Teacher/{{routeid}}/News/{{news.id}}">{{news.title}}</a></p>
                    <p class="description">{{news.description}}</p>
                </div>
            </div>
        </ng-container>
    </div>
</div>
<app-teacher-footer></app-teacher-footer>