<app-student-header></app-student-header>
<div id="box-form-box" class="top-box" *ngIf="showBio">
    <form #form="ngForm" (ngSubmit)="onSubmitBio()">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <div class="box">
                <label class="code">Bio</label>
                <textarea type="text" rows="8" cols="45" value="{{student.bio}}" name="bio" [(ngModel)]="bioStudent.bio"></textarea>
                <span class="validation code">Bio must be longer than 5 symbols.</span>
            </div>
            <div class="box-buttons">
                <button class="add font">Add</button>
                <button class="back font" (click)="hideBioo()">Back</button>
            </div>
        </div>
    </form>
</div>
<div id="box-profile-box" class="top-box" *ngIf="showEdit">
    <form #form="ngForm" (ngSubmit)="onSubmitProfile()">
        <input asp-for="Id" hidden />
        <div class="box-form">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <div class="box">
                    <label class="code">First Name</label>
                    <input type="text" value="{{student.firstName}}" name="firstName" [(ngModel)]="editStudent.firstName"/>
                    <span class="validation code">First Name must be longer than 2 letters.</span>
                </div>
                <div class="box">
                    <label class="code">Last Name</label>
                    <input type="text" value="{{student.lastName}}" name="lastName" [(ngModel)]="editStudent.lastName"/>
                    <span class="validation code">Last Name must be longer than 2 letters.</span>
                </div>
                <div class="box">
                    <label class="code">Username</label>
                    <input type="text" value="{{student.username}}" name="username" [(ngModel)]="editStudent.username" />
                    <span class="validation code">Username must be longer than 5 letters.</span>
                </div>
                <div class="box">
                    <label class="code">Bio</label>
                    <textarea type="text" rows="8" cols="45" value="{{student.bio}}"  name="bio" [(ngModel)]="editStudent.bio"></textarea>
                    <span class="validation code">Bio must be longer than 5 symbols.</span>
                </div>
                <div class="box-buttons">
                    <button class="update font">Update</button>
                    <button class="back font" (click)="hideEditt()">Back</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="acount-dashboard">
    <div class="wrapper">
        <div class="left">
            <a href="/Student/{{routeid}}/Dashboard"><img src="https://cdn-icons-png.flaticon.com/128/922/922941.png"></a>
            <div class="left-links">
                <p class="digital">Wellcome, <a class="username" href="/Student/{{routeid}}/Dashboard">{{student.username}}</a></p>
                <a class="bio">
                    <ng-container *ngIf="student.bio == null || student.bio == ''">
                        <a class="bio-o code" (click)="showBioo()">Add your bio here..</a>
                    </ng-container>
                    <ng-container *ngIf="student.bio != null">
                        <a class="bio-written code" (click)="showBioo()">{{student.bio}}</a>
                    </ng-container>
                </a>
            </div>
        </div>
        <div class="right">
            <a class="btn code" (click)="showEditt()">Edit profile</a>
            <p class="score code"><img src="https://cdn-icons-png.flaticon.com/128/4291/4291373.png" alt="points">Points: {{student.points}}</p>
        </div>
    </div>
</div>
<div class="student-dashboard">
    <div class="wrapper">
        <div class="left">
            <p class="desc digital">My stuff</p>
            <p><a class="stuff code" (click)="showCoursess()">Courses</a></p>
            <p class="desc digital">My Account</p>
            <p><a class="acc code" (click)="showProgress()">Progress</a></p>
            <p><a class="acc code" (click)="showProfilee()">Profile</a></p>
        </div>
        <div id="student-course" class="right right-courses" *ngIf="showCourse">
            <p class="titlee code">My courses</p>
            <ng-container *ngFor="let studentCourse of studentCourses">
                <div class="box">
                    <div class="up">
                        <div class="leftt">
                            <p class="title">{{studentCourse.title}}</p>
                            <ng-container *ngFor="let category of categories">
                                <ng-container *ngIf="category.id == studentCourse.categoryID">
                                    <p class="category">Category: <a routerLink="/Teacher/{{routeid}}/Category/{{category.id}}">{{category.title}}</a></p>
                                </ng-container>
                            </ng-container>
                        </div>
                        <div class="rightt">
                            <ng-container *ngIf="studentCourse.isFinished == '1'">
                                <p class="isfinishy">Finished</p>
                            </ng-container>
                            <ng-container *ngIf="studentCourse.isFinished == '0'">
                                <p class="isfinishn">Not finished yet</p>
                            </ng-container>
                        </div>
                    </div>
                    <div class="down">
                        <ng-container *ngFor="let section of sections">
                            <ng-container *ngIf="section.courseID == studentCourse.id">
                                <ng-container *ngFor="let category of categories">
                                    <ng-container *ngIf="category.id == studentCourse.categoryID">
                                        <div class="section">
                                            <ng-container *ngIf="category.title == 'Math'">
                                                <p class="section-img"><img src="../../../assets/images/mathicon.jpg"></p>
                                                <p class="section-title">{{section.title}}</p>
                                            </ng-container>
                                            <ng-container *ngIf="category.title == 'Science'">
                                                <p class="section-img"><img src="../../../assets/images/scienceicon.jpg"></p>
                                                <p class="section-title">{{section.title}}</p>
                                            </ng-container>
                                            <ng-container *ngIf="category.title == 'Art'">
                                                <p class="section-img"><img src="../../../assets/images/articon.jpg"></p>
                                                <p class="section-title">{{section.title}}</p>
                                            </ng-container>
                                            <ng-container *ngIf="category.title == 'Informatics'">
                                                <p class="section-img"><img src="../../../assets/images/informaticsicon.png"></p>
                                                <p class="section-title">{{section.title}}</p>
                                            </ng-container>
                                            <ng-container *ngIf="category.title == 'Physics'">
                                                <p class="section-img"><img src="../../../assets/images/physicsicon.jpg"></p>
                                                <p class="section-title">{{section.title}}</p>
                                            </ng-container>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </div>
                    <ng-container *ngIf="studentCourse.isFinished == '1'">
                        <p class="btn preview"><a routerLink="/Student/{{routeid}}/Course/{{studentCourse.id}}/Enroll">Preview</a></p>
                    </ng-container>
                    <ng-container *ngIf="studentCourse.isFinished == '0'">
                        <p class="btn resume"><a routerLink="/Student/{{routeid}}/Course/{{studentCourse.id}}/Enroll">Resume</a></p>
                    </ng-container>
                </div>
            </ng-container>
        </div>
        <div id="student-progress" class="right right-progress" *ngIf="showProgres">
            <p class="titlee code">My Progress</p>
            <ng-container *ngFor="let studentCourse of studentCourses">
                <div class="progress-box">
                    <p class="title">{{studentCourse.title}}</p>
                    <div class="p-box">
                        <span class="line start-line"></span><p class="start">Started on: <span class="bold">{{studentCourse.startDate}}</span></p>
                    </div>
                    <ng-container *ngIf="studentCourse.isFinished == '1'">
                        <div class="p-box">
                            <span class="line end-line"></span><p class="end">Finished on: <span class="bold">{{studentCourse.endDate}}</span></p>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="studentCourse.isFinished != '1'">
                        <div class="p-box">
                            <span class="line end-line"></span><p class="end">Not finished yed</p>
                        </div>
                    </ng-container>
                    <div class="p-box">
                        <span class="line points-line"></span><p class="final">Points: <span class="bold">+{{studentCourse.points}}</span></p>
                    </div>
                    <p class="view"><a routerLink="/Student/{{routeid}}/Course/{{studentCourse.id}}/Enroll">Preview this course again</a></p>
                </div>
            </ng-container>
        </div>
        <div id="student-profile" class="right right-profile" *ngIf="showProfile">
            <p class="titlee code">My profile</p>
            <div class="info-box">
                <div class="up">
                    <p class="cap code">Information</p>
                    <p class="desc code"><img src="https://cdn-icons-png.flaticon.com/128/471/471587.png" alt="profile">Profile</p>
                </div>
                <div class="down">
                    <p class="cap code">User statistic</p>
                    <div class="box">
                        <p class="info-left code">Date joined</p>
                        <p class="info-right code">{{student.createdDate}}</p>
                    </div>
                    <div class="box">
                        <p class="info-left code">Time spent</p>
                        <p class="info-right code">{{student.timeSpent}}</p>
                    </div>
                    <div class="box">
                        <p class="info-left code">Progress</p>
                        <ng-container *ngIf="dates.length < 2 && dates.length > 0">
                            <p class="info-right code" style="font-size: 0.7rem;">from {{dates[0]}} to {{dates[0]}}</p>
                        </ng-container>
                        <ng-container *ngIf="dates.length >= 2">
                            <p class="info-right code" style="font-size: 0.7rem;">from {{dates[0]}} to {{dates[dates.length - 1]}}</p>
                        </ng-container>
                        <ng-container *ngIf="dates.length == 0">
                            <p class="info-right code" style="font-size: 0.7rem;">no progress yet</p>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="info-box">
                <div class="up">
                    <p class="cap code">Information</p>
                    <p class="desc code"><img src="https://cdn-icons-png.flaticon.com/128/887/887997.png" alt="course">Courses</p>
                </div>
                <div class="down">
                    <p class="cap code">Course statistic</p>
                    <div class="box">
                        <p class="info-left code">Course completed</p>
                        <p class="info-right code">{{counter}}</p>
                    </div>
                    <div class="box">
                        <p class="info-left code">Energy points earned</p>
                        <p class="info-right points code">{{student.points}}</p>
                    </div>
                    <div class="box">
                        <p class="info-left code">Course enrolled</p>
                        <ng-container *ngIf="studentCourses.length != null">
                            <p class="info-right code">{{studentCourses.length}}</p>
                        </ng-container>
                        <ng-container *ngIf="studentCourses.length == null">
                            <p class="info-right code">0</p>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-student-footer></app-student-footer>