<app-student-header></app-student-header>
<div class="intro-newss">
    <div class="wrapper">
        <p class="cap digital">All News</p>
    </div>
</div>
<div class="info-newss">
    <div class="wrapper">
        <ng-container *ngFor="let news of newss">
            <div class="box">
                <div class="left">
                    <a routerLink="/Student/{{routeid}}/Article/{{news.id}}"><img src="https://cdn-icons-png.flaticon.com/128/2965/2965879.png" alt="news"></a>
                </div>
                <div class="right">
                    <p class="caption code">Date: <strong>{{news.createdDate}}</strong></p>
                    <p class="title digital"><a routerLink="/Student/{{routeid}}/News/{{news.id}}">Title: <strong>{{news.title}}</strong></a></p>
                    <p class="description code">Description: <strong>{{news.description}}</strong></p>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="newss.length == null || newss.length == 0">
            <p class="no code">No news at this moment.</p>
        </ng-container>
    </div>
</div>
<app-student-footer></app-student-footer>