<div class="site-dashboard">
    <app-admin-navigation></app-admin-navigation>
    <div class="site-form">
        <form #form="ngForm" (ngSubmit)="onSubmit()">
            <div class="site-top">
                <p class="caption digital">Add Admin</p>
            </div>
            <div class="box-form">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <div class="box">
                        <label class="code">First Name</label>
                        <input type="text" aria-required="true" name="firstName" [(ngModel)]="admin.firstName"/>
                        <span class="validation code">First Name must be longer than 2 letters.</span>
                    </div>
                    <div class="box">
                        <label class="code">Last Name</label>
                        <input type="text" aria-required="true" name="lastName" [(ngModel)]="admin.lastName"/>
                        <span class="validation code">First Name must be longer than 2 letters.</span>
                    </div>
                    <div class="box">
                        <label class="code">Username</label>
                        <input type="text" aria-required="true" name="username" [(ngModel)]="admin.username" />
                        <span class="validation code">Username must be longer than 5 letters.</span>
                    </div>
                    <div class="box">
                        <label class="code">Email</label>
                        <input type="text" aria-required="true" name="email" [(ngModel)]="admin.email"/>
                    </div>
                    <div class="box">
                        <label class="code">Account Type</label>
                        <input class="code" type="text" value="Admin" [(ngModel)]="admin.accountType" disabled/>
                    </div>
                    <div class="box">
                        <label class="code">Password</label>
                        <input type="text" aria-required="true" name="password" [(ngModel)]="admin.password" />
                        <span class="validation code">Password must start with uppercase letter.</span>
                        <span class="validation code">Password must have digits.</span>
                        <span class="validation code">Password must be longer than 5 symbols.</span>
                    </div>
                    <div class="box">
                        <label class="code">Confirm Password</label>
                        <input type="text" aria-required="true" name="confirmPassword" [(ngModel)]="admin.confirmPassword"/>
                        <span class="validation code">Confirm Password must match password.</span>
                    </div>
                    <div class="box-buttons">
                        <button class="add font">Add</button>
                        <a class="font" routerLink="/Admin/{{routeid}}/Admins">Back</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>