<input type="checkbox" name="main-nav-toggle" id="main-nav-toggle" checked />
    <header class="site-header">
        <div class="wrapper">
            <nav class="site-nav left">
                <ul>
                    <li><a routerLink="/Home/Register">Courses</a></li>
                    <li><a routerLink="/Home/About">About us</a></li>
                </ul>
            </nav>
            <div class="site-logo">
                <!-- <img src="../../../assets/images/458910.png" alt=""> -->
                <a class="caption" routerLink="/Home/Main">NullRefAcademy</a>
            </div>
            <label for="main-nav-toggle" id="toggle"><i class="fab fa-xing"></i>Menu</label>
            <nav class="site-nav right">
                <ul>
                    <li><a routerLink="/Home/Contacts">Contacts</a></li>
                    <li><a routerLink="/Home/Login">Login</a></li>
                    <li><a routerLink="/Home/Register">Register</a></li>
                </ul>
            </nav>
        </div>
    </header>