<div class="site-dashboard">
    <app-admin-navigation></app-admin-navigation>
    <div class="site-form">
        <form #form="ngForm" (ngSubmit)="onSubmit()">
            <div class="site-top">
                <p class="caption digital">Create Course</p>
            </div>
            <div class="box-form">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <div class="box">
                        <label class="code">Title</label>
                        <input type="text" aria-required="true" placeholder="Title" name="title" [(ngModel)]="course.title"
                            [class.input-error]="hasErrorTitle && submited"
                            [class.input-valid]="!hasErrorTitle && submited"/>
                        <span class="text-error code" *ngIf="hasErrorTitleRequired">Title is required.</span>
                        <span class="text-error code" *ngIf="hasErrorTitleLength">Title must be longer than 2 characters.</span>
                    </div>
                    <div class="box">
                        <label class="code">Description</label>
                        <textarea type="text" rows="10" cols="55" placeholder="Description" aria-required="true" name="description" [(ngModel)]="course.description"
                            [class.input-error]="hasErrorDescription && submited"
                            [class.input-valid]="!hasErrorDescription && submited"></textarea>
                        <span class="text-error code" *ngIf="hasErrorDescriptionRequired">Description is required.</span>
                        <span class="text-error code" *ngIf="hasErrorDescriptionLength">Description must be longer than 2 characters.</span>
                    </div>
                    <div class="box">
                        <label class="code">Points</label>
                        <input type="text" aria-required="true" placeholder="Points" name="points" [(ngModel)]="course.points"
                            [class.input-error]="hasErrorPoints && submited"
                            [class.input-valid]="!hasErrorPoints && submited"/>
                        <span class="text-error code" *ngIf="hasErrorPointsValue">Points must be bigger than > 0.</span>
                    </div>
                    <div class="box">
                        <label class="code">Video Url</label>
                        <input type="text" aria-required="true" placeholder="Video Url" name="videoUrl" [(ngModel)]="course.videoUrl"
                            [class.input-error]="hasErrorVidoeUrl && submited"
                            [class.input-valid]="!hasErrorVidoeUrl && submited"/>
                        <span class="text-error code" *ngIf="hasErrorVidoeUrlRegex">Video Url must be valid.</span>
                    </div>
                    <div class="box">
                        <label class="code">Category</label>
                        <select #selectCategory class="form-control" aria-required="true" name="categoryId" [(ngModel)]="course.categoryID"
                            [class.input-error]="hasErrorCategory && submited"
                            [class.input-valid]="!hasErrorCategory && submited">
                            <option selected disabled>Select category</option>
                            <option *ngFor="let category of categories" value="{{ category.id }}">{{ category.title }}</option>
                        </select>
                        <span class="text-error code" *ngIf="hasErrorCategoryRequired">Category is required.</span>
                    </div>
                    <div class="box-buttons">
                        <button class="add font">Create</button>
                        <a class="font" routerLink="/Admin/{{routeid}}/Courses">Back</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>