.contact-center {
    padding: 4rem 1rem;
}

.contact-center .wrapper{
    width: 55vw;
}

.contact-center .intro{
    padding-bottom: 2rem;
}

.contact-center .intro .title{
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 0.4rem;
    color: #222534;
}

.contact-center .intro .date{
    color:dimgray;
    font-size: 0.8rem;
    margin-bottom: 1.2rem;
}

.contact-center .center .caption{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #222534;
}

.contact-center .center ul{
    margin-left: 2rem;
    margin-bottom: 2rem;
    font-size: 0.93rem;
}

.contact-center .center ul li{
    color: #222534;
    font-size: 0.9rem;
}

.contact-center .center img{
    width: 30px;
    height: 30px;
    margin-right: 0.3rem;
    position: relative;
    top: 0.25rem;
}