.contact-center {
    padding: 4rem 1rem;
}

.contact-center .wrapper{
    width: 55vw;
}

.contact-center .intro{
    padding-bottom: 2rem;
}

.contact-center .intro .title{
    font-weight: bold;
    font-size: 1.4rem;
    padding-bottom: 0.4rem;
}

.contact-center .intro .date{
    color:gray;
    font-size: 0.8rem;
    margin-bottom: 1.2rem;
}

.contact-center .center .caption{
    margin-bottom: 1rem;
}

.contact-center .center ul{
    margin-left: 2rem;
    margin-bottom: 2rem;
    font-size: 0.93rem;
}

.contact-center .center i{
    margin-right: 0.3rem;
}