<app-student-header></app-student-header>
<div class="intro-course">
    <div class="wrapper">
        <ng-container *ngFor="let course of courses">
            <ng-container *ngIf="course.id == courseid">
                <p class="cap digital"><a routerLink="/Student/{{routeid}}/Courses">Course: <strong>{{course.title}}</strong></a></p>
            </ng-container>
        </ng-container>
    </div>
</div>
<div class="info-course">
    <div class="wrapper">
        <div class="left">
            <div class="up">
                <p class="cap code">Sections in this course:</p>
                <ng-container *ngFor="let section of sections">
                    <ng-container *ngIf="section.courseID == courseid">
                        <p class="count code">{{counts[section.id]}}. {{section.title}}</p>
                    </ng-container>
                </ng-container>
            </div>
            <div class="down">
                <p class="cap code">This course will bring you:</p>
                <ng-container *ngFor="let course of courses">
                    <ng-container *ngIf="course.id == courseid">
                        <a class="points code">{{course.points}}<img src="https://cdn-icons-png.flaticon.com/128/4291/4291373.png" alt="points"> Points</a>
                    </ng-container>
                </ng-container>
            </div>
            <div class="down-down">
                <p class="cap code">This course is about:</p>
                <ng-container *ngFor="let course of courses">
                    <ng-container *ngIf="course.id == courseid">
                        <p class="description code">{{course.description}}</p>
                    </ng-container>
                </ng-container>
            </div>
            <div class="down-under code">
                <p class="cap">Course rating:</p>
                <ng-container *ngFor="let course of courses">
                    <ng-container *ngIf="course.id == courseid">
                        <p class="description code">Rate {{course.rating}}<img src="https://cdn-icons-png.flaticon.com/128/477/477406.png" alt="stars"> from {{course.ratingQty}}<img src="https://cdn-icons-png.flaticon.com/128/9195/9195871.png" alt="users"> users.</p>
                    </ng-container>
                </ng-container>
            </div>
            <div class="bottom">
                <p class="cap code">Created by:</p>
                <ng-container *ngFor="let course of courses">
                    <ng-container *ngIf="course.id == courseid">
                        <ng-container *ngIf="course.adminID != null">
                            <ng-container *ngFor="let admin of admins">
                                <ng-container *ngIf="course.adminID == admin.id">
                                    <p class="creator code">Admin: {{admin.username}}</p>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="course.teacherID != null">
                            <ng-container *ngFor="let teacher of teachers">
                                <ng-container *ngIf="course.teacherID == teacher.id">
                                    <a class="creator code" routerLink="/Student/{{routeid}}/Profile/Teacher/{{teacher.id}}">Teacher: {{teacher.username}}</a>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="course.teacherID == null && course.adminID == null">
                            <p class="creator code">The creator was deactivated.</p>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </div>
        </div>
        <div class="right">
            <ng-container *ngFor="let course of courses">
                <ng-container *ngIf="course.id == courseid"> 
                    <ng-container *ngFor="let section of sections">
                        <ng-container *ngIf="section.courseID == courseid">
                            <ng-container *ngFor="let category of categories">
                                <ng-container *ngIf="course.categoryID == category.id">
                                    <div class="box">
                                        <div class="up">
                                            <ng-container *ngIf="category.title == 'Math'">
                                                <a routerLink="/Student/{{routeid}}/Category/{{category.id}}"><img src="https://cdn-icons-png.flaticon.com/128/3771/3771278.png" alt="math"></a>
                                            </ng-container>
                                            <ng-container *ngIf="category.title == 'Science'">
                                                <a routerLink="/Student/{{routeid}}/Category/{{category.id}}"><img src="https://cdn-icons-png.flaticon.com/128/3655/3655580.png" alt="science"></a>
                                            </ng-container>
                                            <ng-container *ngIf="category.title == 'Informatics'">
                                                <a routerLink="/Student/{{routeid}}/Category/{{category.id}}"><img src="https://cdn-icons-png.flaticon.com/128/6062/6062646.png" alt="informatics"></a>
                                            </ng-container>
                                            <ng-container *ngIf="category.title == 'Software Development'">
                                                <a routerLink="/Student/{{routeid}}/Category/{{category.id}}"><img src="https://cdn-icons-png.flaticon.com/128/1316/1316740.png" alt="software development"></a>
                                            </ng-container>
                                            <ng-container *ngIf="category.title == 'Software Technologies'">
                                                <a routerLink="/Student/{{routeid}}/Category/{{category.id}}"><img src="https://cdn-icons-png.flaticon.com/128/644/644667.png" alt="software technologies"></a>
                                            </ng-container>
                                            <ng-container *ngIf="category.title == 'Web Applications'">
                                                <a routerLink="/Student/{{routeid}}/Category/{{category.id}}"><img src="https://cdn-icons-png.flaticon.com/128/5044/5044729.png" alt="web applications"></a>
                                            </ng-container>
                                            <ng-container *ngIf="category.title == 'Mobile Development'">
                                                <a routerLink="/Student/{{routeid}}/Category/{{category.id}}"><img src="https://cdn-icons-png.flaticon.com/128/2586/2586488.png" alt="mobile development"></a>
                                            </ng-container>
                                            <ng-container *ngIf="category.title == 'Physics'">
                                                <a routerLink="/Student/{{routeid}}/Category/{{category.id}}"><img src="https://cdn-icons-png.flaticon.com/128/6813/6813708.png" alt="physics"></a>
                                            </ng-container>
                                            <ng-container *ngIf="category.title == 'Creativity'">
                                                <a routerLink="/Student/{{routeid}}/Category/{{category.id}}"><img src="https://cdn-icons-png.flaticon.com/128/3749/3749896.png" alt="creativity"></a>
                                            </ng-container>
                                            <ng-container *ngIf="category.title == 'Art'">
                                                <a routerLink="/Student/{{routeid}}/Category/{{category.id}}"><img src="https://cdn-icons-png.flaticon.com/128/2400/2400603.png" alt="art"></a>
                                            </ng-container>
                                            <ng-container *ngIf="category.title == 'Marketing'">
                                                <a routerLink="/Student/{{routeid}}/Category/{{category.id}}"><img src="https://cdn-icons-png.flaticon.com/128/1998/1998087.png" alt="marketing"></a>
                                            </ng-container>
                                            <ng-container *ngIf="category.title == 'Self Development'">
                                                <a routerLink="/Student/{{routeid}}/Category/{{category.id}}"><img src="https://cdn-icons-png.flaticon.com/128/10068/10068898.png" alt="self development"></a>
                                            </ng-container>
                                            <p class="title digital">Title: <strong>{{section.title}}</strong></p>
                                        </div>
                                        <div class="down">
                                            <p class="description code">Description: <strong>{{section.description}}</strong></p>
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </ng-container>
            <div class="under">
                <ng-container *ngIf="studentCourses.length == 0">
                    <p class="font"><a routerLink="/Student/{{routeid}}/Course/{{courseid}}/Enroll">Enroll</a></p>
                </ng-container>
                <ng-container *ngIf="studentCourses.length != 0">
                    <ng-container *ngIf="hasEnroll">
                        <p class="font"><a routerLink="/Student/{{routeid}}/Course/{{courseid}}/Enroll">Preview</a></p>
                    </ng-container>
                    <ng-container *ngIf="!hasEnroll">
                        <p class="font"><a routerLink="/Student/{{routeid}}/Course/{{courseid}}/Enroll">Enroll</a></p>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div>
</div>
<app-student-footer></app-student-footer>