<app-teacher-header></app-teacher-header>
<div class="about-intro">
    <div class="wrapper">
        <div class="about-caption">
            <p class="intro">Our mission is to provide a free, world‑class education for anyone, anywhere.</p>
        </div>
    </div>
</div>
<div class="about-line">
</div>
<div class="about-info">
    <div class="wrapper">
        <div class="info">
            <p class="title">A personalized learning resource for all ages</p>
            <p class="text">Dev Academy offers practice exercises, instructional videos, and a personalized learning dashboard that empower learners to study at their own pace in and outside of the classroom. We tackle math, science, computing, history, art history, economics, and more, including K-14 and test preparation (SAT, Praxis, LSAT) content. We focus on skill mastery to help learners establish strong foundations, so there's no limit to what they can learn next!</p>
        </div>
    </div>
</div>
<div class="about-separator">
    <img src="../../../assets/images/mobius.gif" alt="">
    <img src="../../../assets/images/mobius2.gif" alt="">
    <img src="../../../assets/images/mobius3.gif" alt="">
    <img src="../../../assets/images/mobius4.gif" alt="">
    <img src="../../../assets/images/mobius5.gif" alt="">
    <img src="../../../assets/images/mobius6.gif" alt="">
</div>
<div class="about-info">
    <div class="wrapper">
        <div class="info">
            <p class="title">Free tools for students and teachers</p>
            <p class="text">We’re working hard to ensure that Dev Academy empowers coaches of all kinds to better understand what their children or students are up to and how best to help them. See at a glance whether a child or student is struggling or if she hit a streak and is now far ahead of the class. Our teacher dashboard provides a summary of class performance as a whole as well as detailed student profiles.</p>
        </div>
    </div>
</div>
<div class="about-separator">
    <img src="../../../assets/images/mobius7.gif" alt="">
    <img src="../../../assets/images/mobius8.gif" alt="">
    <img src="../../../assets/images/mobius.gif" alt="">
    <img src="../../../assets/images/mobius10.gif" alt="">
    <img src="../../../assets/images/mobius11.gif" alt="">
    <img src="../../../assets/images/mobius12.gif" alt="">
</div>
<div class="about-info">
    <div class="wrapper">
        <div class="info">
            <p class="title">You’re joining a global classroom</p>
            <p class="text">Millions of students from all over the world, each with their own unique story, learn at their own pace on Dev Academy every single day. Our resources are being translated into a lot of languages in addition to the Spanish, French, German, Bulgarian and more versions.</p>
        </div>
    </div>
</div>
<div id="block" class="about-coments">
    <div class="wrapper">
        <button id="left-button" type="button" (click)="goLeft()"><i class="fa-solid fa-angle-left"></i></button>
        <div id="box1" class="box">
            <p class="comment">I just found your web site. I am 34 years old and I am now taking up learning where I left off. Thank you so much for all your hard work.</p>
            <p class="person">Barbara</p>
        </div>
        <div id="box2" class="box">
            <p class="comment">Thank you for your ongoing inspiration. I am a primary school teacher in the north of England and when the conventional education system gets on my nerves, I only need to whack on a Khan Academy and my faith in the future of education is restored!</p>
            <p class="person">Kimberly</p>
        </div>
        <div id="box3" class="box">
            <p class="comment">Dear Dev Academy, I greatly appreciate your videos! Not only did I pass Calculus last year with a 96%, but I also discovered my love for the subject - something I had never experienced before truly understanding the mathematical content and the uses of it.</p>
            <p class="person">Mat</p>
        </div>
        <button id="right-button" type="button" (click)="goRight()"><i class="fa-solid fa-angle-right"></i></button>
    </div>
</div>
<div class="about-info">
    <div class="wrapper">
        <div class="info">
            <p class="title">Anyone can learn anything. For free.</p>
            <p class="text">Education is a human right. We are a nonprofit because we believe in a free, world-class education for anyone, anywhere. Instead of ads or subscriptions, we are supported by individual contributions from people like you. Please join us today.</p>
        </div>
    </div>
</div>
<app-teacher-footer></app-teacher-footer>