<div class="site-dashboard">
    <app-admin-navigation></app-admin-navigation>
    <div class="site-right">
        <form #form="ngForm" (ngSubmit)="onSubmit()">
            <input asp-for="Id" hidden/>
            <div class="site-top">
                <p class="caption">Update Category</p>
            </div>
            <div class="box-form">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <div class="box">
                        <label>Title</label>
                        <input type="text" value="{{takenCourse.title}}" name="title" [(ngModel)]="course.title"/>
                        <span class="validation">Title must be longer than 2 letters.</span>
                    </div>
                    <div class="box">
                        <label>Description</label>
                        <textarea type="text" rows="10" cols="55" value="{{takenCourse.description}}" name="description" [(ngModel)]="course.description"></textarea>
                        <span class="validation">Description must be longer than 2 letters.</span>
                    </div>
                    <div class="box">
                        <label>Points</label>
                        <input type="text" value="{{takenCourse.points}}" name="points" [(ngModel)]="course.points" />
                        <span asp-validation-for="Points"></span>
                    </div>
                    <div class="box">
                        <label>Created Date</label>
                        <input type="text" value="{{takenCourse.createdDate}}" disabled />
                    </div>
                    <div class="box">
                        <label>Category</label>
                        <textarea rows="2" cols="45" disabled>{{categoryText}}</textarea>
                    </div>
                    <div class="box">
                        <label>Sections</label>
                        <textarea rows="10" cols="45" disabled>{{sectionsText}}</textarea>
                    </div>
                    <div class="box">
                        <label>Students</label>
                        <textarea rows="10" cols="45" disabled>{{studentsText}}</textarea>
                    </div>
                    <div class="box" *ngIf="hasAdmin">
                        <label>Admin</label>
                        <textarea rows="2" cols="45" disabled>{{adminText}}</textarea>
                    </div>
                    <div class="box" *ngIf="hasTeacher">
                        <label>Teacher</label>
                        <textarea rows="2" cols="45" disabled>{{teacherText}}</textarea>
                    </div>
                    <div class="box" *ngIf="!hasAdmin && !hasTeacher">
                        <label>Created by</label>
                        <textarea rows="2" cols="45" disabled>The creator was deactivated or no information.</textarea>
                    </div>
                    <div class="box-buttons">
                        <button class="update">Update</button>
                        <a class="" routerLink="/Admin/{{routeid}}/Courses">Back</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>