<input type="checkbox" name="main-nav-toggle" id="main-nav-toggle" checked />
<header id="header-down" class="site-header">
    <div class="wrapper">
        <nav class="site-nav left">
            <ul>
                <li class="font">
                    <a href="/Student/{{routeid}}/Courses">Courses</a>
                    <ul id="courses-header">
                        <li><a href="/Student/{{routeid}}/Categories">Categories</a></li>
                        <li><a href="/Student/{{routeid}}/Courses">Courses</a></li>
                        <li><a href="/Student/{{routeid}}/Sections">Sections</a></li>
                    </ul>
                </li>
                <li class="font"><a href="/Student/{{routeid}}/About">About us</a></li>
            </ul>
        </nav>
        <a href="/Student/{{routeid}}/Dashboard" class="site-logo">
            <div class="nullref">
                <img src="https://cdn-icons-png.flaticon.com/128/9812/9812340.png" alt="" style="width: 30px; height: 30px;">
                <img src="https://cdn-icons-png.flaticon.com/128/9812/9812347.png" alt="" style="width: 30px; height: 30px;">
                <img src="https://cdn-icons-png.flaticon.com/128/9812/9812338.png" alt="" style="width: 30px; height: 30px;">
                <img src="https://cdn-icons-png.flaticon.com/128/9812/9812338.png" alt="" style="width: 30px; height: 30px;">
                <img src="https://cdn-icons-png.flaticon.com/128/9812/9812344.png" alt="" style="width: 30px; height: 30px; margin-left: 1rem;">
                <img src="https://cdn-icons-png.flaticon.com/128/9812/9812331.png" alt="" style="width: 30px; height: 30px;">
                <img src="https://cdn-icons-png.flaticon.com/128/9812/9812332.png" alt="" style="width: 30px; height: 30px;">
            </div>
            <div class="academy">
                <img src="https://cdn-icons-png.flaticon.com/128/9812/9812327.png" alt="" style="width: 30px; height: 30px;">
                <img src="https://cdn-icons-png.flaticon.com/128/9812/9812329.png" alt="" style="width: 30px; height: 30px;">
                <img src="https://cdn-icons-png.flaticon.com/128/9812/9812327.png" alt="" style="width: 30px; height: 30px;">
                <img src="https://cdn-icons-png.flaticon.com/128/9812/9812330.png" alt="" style="width: 30px; height: 30px;">
                <img src="https://cdn-icons-png.flaticon.com/128/9812/9812331.png" alt="" style="width: 30px; height: 30px;">
                <img src="https://cdn-icons-png.flaticon.com/128/9812/9812339.png" alt="" style="width: 30px; height: 30px;">
                <img src="https://cdn-icons-png.flaticon.com/128/9812/9812351.png" alt="" style="width: 30px; height: 30px;">
            </div>
        </a>
        <label for="main-nav-toggle" id="toggle"><i class="fab fa-xing"></i>Menu</label>
        <nav class="site-nav right">
            <ul>
                <li class="font"><a href="/Student/{{routeid}}/Contacts">Contacts</a></li>
                <li class="font">
                    <a href="/Student/{{routeid}}/Dashboard">Username</a>
                    <ul id="username-header">
                        <li><a href="/Student/{{routeid}}/Dashboard">Account</a></li>
                        <li><a href="/Student/{{routeid}}/Settings">Settings</a></li>
                        <li><a href="/Home/Main">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>