<input type="checkbox" name="main-nav-toggle" id="main-nav-toggle" checked />
<header id="header-down" class="site-header">
    <div class="wrapper">
        <nav class="site-nav left">
            <ul>
                <li>
                    <a href="/Student/{{routeid}}/Courses">Courses</a>
                    <ul id="courses-header">
                        <li><a href="/Student/{{routeid}}/Categories">Categories</a></li>
                        <li><a href="/Student/{{routeid}}/Courses">Courses</a></li>
                        <li><a href="/Student/{{routeid}}/Sections">Sections</a></li>
                    </ul>
                </li>
                <li><a href="/Student/{{routeid}}/About">About us</a></li>
            </ul>
        </nav>
        <div class="site-logo">
            <img src="../../../assets/images/458910.png" alt="">
            <a class="caption" href="/Student/{{routeid}}/Dashboard">Academy</a>
        </div>
        <label for="main-nav-toggle" id="toggle"><i class="fab fa-xing"></i>Menu</label>
        <nav class="site-nav right">
            <ul>
                <li><a href="/Student/{{routeid}}/Contacts">Contacts</a></li>
                <li>
                    <a href="/Student/{{routeid}}/Dashboard">{{student.username}}</a>
                    <ul id="username-header">
                        <li><a href="/Student/{{routeid}}/Dashboard">Account</a></li>
                        <li><a href="/Student/{{routeid}}/Settings">Settings</a></li>
                        <li><a href="/Home/Main">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>