<app-teacher-header></app-teacher-header>
<div class="intro-articles">
    <div class="wrapper">
        <p class="cap digital">Articles</p>
    </div>
</div>
<div class="info-articles">
    <div class="wrapper">
        <ng-container *ngFor="let article of articles">
            <div class="box">
                <div class="left">
                    <a routerLink="/Teacher/{{routeid}}/Article/{{article.id}}"><img src="https://cdn-icons-png.flaticon.com/128/4228/4228952.png" alt="articles"></a>
                </div>
                <div class="right">
                    <p class="caption code">Date: <strong>{{article.createdDate}}</strong></p>
                    <p class="title digital"><a routerLink="/Teacher/{{routeid}}/Article/{{article.id}}">Title: <strong>{{article.title}}</strong></a></p>
                    <p class="description code">Description: <strong>{{article.description}}</strong></p>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="articles.length == null || articles.length == 0">
            <p class="no code">No articles at this moment.</p>
        </ng-container>
    </div>
</div>
<app-teacher-footer></app-teacher-footer>