.intro-course {
    padding: 3rem 2rem 2rem 2rem;
    background-color: #FFE08C;
    position: relative;
    top: -1rem;
}

.intro-course .cap{
    font-size: 1.8rem;
    color: #222534;
}

.intro-course .cap a{
    font-size: 1.8rem;
    color: #222534;
    text-decoration: none;
}

.intro-course .cap:hover{
    font-weight: bolder;
}

.intro-course .upcap a{
    font-size: 0.7rem;
    color: #222534;
    text-decoration: none;
    text-transform: uppercase;
}

.info-course {
    padding: 3rem 0 4rem 0;
}

.info-course .wrapper{
    display: block;
}

.info-course .left{
    text-align: center;
    margin-bottom: 4rem;
}

.info-course .left .cap{
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 0.2rem;
}

.info-course .left .up{
    margin-bottom: 1rem;
    background-color: #222534;
    color: #FFE08C;
    padding: 1rem;
    border-radius: 0.4rem;
    box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.2);
} 

.info-course .left .up .count{
    font-size: 0.9rem;
    color: #FFE08C;
}

.info-course .left .down {
    margin-bottom: 1rem;
    background-color: #222534;
    color: #FFE08C;
    padding: 1rem;
    border-radius: 0.4rem;
    box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.2);
}

.info-course .left .down .points {
    text-decoration: none;
    display: inline-block;
}

.info-course .left .down .points img{
    width: 25px;
    height: 25px;
    position: relative;
    top: 0.15rem;
    margin-left: 0.2rem;
}

.info-course .left .down-up{
    margin-bottom: 1rem;
    background-color: #222534;
    color: #FFE08C;
    padding: 1rem;
    border-radius: 0.4rem;
    box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.2);
}

.info-course .left .down-up img{
    width: 25px;
    height: 25px;
    position: relative;
    top: 0.15rem;
    margin-left: 0.2rem;
}

.info-course .left .down-down{
    margin-bottom: 1rem;
    background-color: #222534;
    color: #FFE08C;
    padding: 1rem;
    border-radius: 0.4rem;
    box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.2);
}

.info-course .left .down-under{
    margin-bottom: 1rem;
    background-color: #222534;
    color: #FFE08C;
    padding: 1rem;
    border-radius: 0.4rem;
    box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.2);
}

.info-course .left .down-under img{
    width: 25px;
    height: 25px;
    position: relative;
    top: 0.15rem;
    margin-left: 0.2rem;
}

.info-course .left .down-down .description {
    font-size: 0.8rem;
}

.info-course .left .bottom{
    background-color: #222534;
    color: #FFE08C;
    padding: 1rem;
    border-radius: 0.4rem;
    box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.2);
}

.info-course .left .bottom .creator{
    font-size: 0.9rem;
    color: #FFE08C;
}

.info-course .left .bottom .creatort{
    text-decoration: none;
    font-size: 0.9rem;
    color: #FFE08C;
}

.info-course .right{
    margin-left: 2rem; 
}

.info-course .right youtube-player{
    display: block;
    margin-bottom: 1rem; 
}

.info-course .right .box{
    width: 100%;
    padding: 1rem 0.5rem;
    border-radius: 0.4rem;
    box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    background-color: #FFE08C;
}

.info-course .right .box .up{
    display: flex;
    align-items: center;
    flex-basis: 100%;
    border-bottom: 1px solid #222534;
}

.info-course .right .box .up img{
    width: 40px;
    height: 40px;
    margin-right: 0.5rem;
}

.info-course .right .box .up a:hover img {
    transform: scale(1.05);
}

.info-course .right .box .up .title{
    font-size: 1.3rem;
    color: #222534;
}

.info-course .right .box .up .title:hover{
    cursor: pointer;
    font-weight: bolder;
}

.info-course .right .box .down{
    padding: 0.8rem;
}

.info-course .right .box .description {
    font-size: 0.9rem;
    color: #222534;
}

.info-course .right .under p{
    text-align: end;
}

.info-course .right .under a {
    text-decoration: none;
    padding: 0.7rem 1.2rem;
    color: #FFE08C;
    font-weight: 500;
    font-size: 0.8rem;
    background-color: #222534;
    margin-right: 0.5rem;
    border-radius: 0.3rem;
}

.info-course .right .under a:hover {
    font-weight: bold;
}

.info-course .right .under .teach {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}

@media screen and (min-width: 1050px) {
    .info-course .wrapper{
        display: flex;
    }

    .info-course .left{
        flex-basis: 35%;
        border-right: 1px solid #222534;
        padding-right: 1rem;
        margin-bottom: 0;
        text-align: start;
    }

    .info-course .right{
        flex-basis: 64%;
    }
}