<div class="site-dashboard">
    <app-admin-navigation></app-admin-navigation>
    <div class="site-form">
        <form #form="ngForm" (ngSubmit)="onSubmit()">
            <input asp-for="Id" hidden/>
            <div class="site-top">
                <p class="caption digital">Update News</p>
            </div>
            <div class="box-form">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <div class="box">
                        <label class="code">Title<img src="https://cdn-icons-png.flaticon.com/128/8704/8704368.png" alt="required"></label>
                        <input type="text" value="{{takenNews.title}}" placeholder="Title" name="title" [(ngModel)]="news.title"
                            [class.input-error]="hasErrorTitle && submited"
                            [class.input-valid]="!hasErrorTitle && submited"/>
                        <span class="text-error code" *ngIf="hasErrorTitleRequired">Title is required.</span>
                        <span class="text-error code" *ngIf="hasErrorTitleLength">Title must be longer than 2 characters.</span>
                    </div>
                    <div class="box">
                        <label class="code">Description<img src="https://cdn-icons-png.flaticon.com/128/8704/8704368.png" alt="required"></label>
                        <textarea type="text" rows="10" cols="55" value="{{takenNews.description}}" placeholder="Description" name="description" [(ngModel)]="news.description"
                            [class.input-error]="hasErrorDescription && submited"
                            [class.input-valid]="!hasErrorDescription && submited"></textarea>
                        <span class="text-error code" *ngIf="hasErrorDescriptionRequired">Description is required.</span>
                        <span class="text-error code" *ngIf="hasErrorDescriptionLength">Description must be longer than 2 characters.</span>
                    </div>
                    <div class="box">
                        <label class="code">Text<img src="https://cdn-icons-png.flaticon.com/128/8704/8704368.png" alt="required"></label>
                        <textarea type="text" rows="15" cols="85" value="{{takenNews.text}}" placeholder="Text" name="text" [(ngModel)]="news.text"
                            [class.input-error]="hasErrorText && submited"
                            [class.input-valid]="!hasErrorText && submited"></textarea>
                        <span class="text-error code" *ngIf="hasErrorTextRequired">Text is required.</span>
                        <span class="text-error code" *ngIf="hasErrorTextLength">Text must be longer than 2 characters.</span>
                    </div>
                    <div class="box">
                        <label class="code">Rating</label>
                        <input type="text" value="{{takenNews.rating}}" name="rating" [(ngModel)]="news.rating" />
                        <span asp-validation-for="Rating"></span>
                    </div>
                    <div class="box">
                        <label class="code">Rating Quantity</label>
                        <input type="text" value="{{takenNews.ratingQty}}" name="ratingQty" [(ngModel)]="news.ratingQty" />
                        <span asp-validation-for="RatingQty"></span>
                    </div>
                    <div class="box">
                        <label class="code">Created Date</label>
                        <input type="text" value="{{takenNews.createdDate}}" disabled />
                    </div>
                    <div class="box" *ngIf="hasAdmin">
                        <label class="code">Admin</label>
                        <textarea rows="2" cols="45" disabled>{{adminText}}</textarea>
                    </div>
                    <div class="box" *ngIf="!hasAdmin">
                        <label class="code">Created by</label>
                        <textarea rows="2" cols="45" disabled>The creator was deactivated or no information.</textarea>
                    </div>
                    <div class="box-buttons">
                        <button class="update font">Update</button>
                        <a class="font" routerLink="/Admin/{{routeid}}/News">Back</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>