<footer class="site-footer down">
    <div class="wrapper">
        <div class="upper-div">
            <div class="left">
                <p class="caption">Ready to start out courses?</p>
                <p class="caption">Our mission is to provide a free, <br /> world-class education to anyone, anywhere.</p>
                <p class="caption">Dev Academy is a 501(c)(3) nonprofit organization. <br /> <a href="">Donate</a> or <a href="https://github.com/georgianastasov">Volunteer</a> today!</p>
            </div>
            <div class="right">
                <p>Links</p>
                <ul>
                    <li><a href="/Student/{{routeid}}/Courses">Courses</a></li>
                    <li><a href="/Student/{{routeid}}/About">About us</a></li>
                    <li><a href="/Student/{{routeid}}/Contacts">Contacts</a></li>
                    <li><a href="/Student/{{routeid}}/Contacts">Help</a></li>
                    <li><a href="/Home/Index">Log Out</a></li>
                </ul>
            </div>
        </div>
        <div class="lowwer-div">
            <p>© 2022 Dev Academy</p>
            <a href="">Terms of use</a>
            <a href="">Privacy policy</a>
            <a href="">Cookie Notice</a>
        </div>
    </div>
</footer>